.monito-user {
    padding-left: 10px;
    font-size: 14px;
}

.monito-user i {
    font-size: 1.2em;
}

.logo a img {
    max-width: 150px;
}


/*  BUTTON  */

.botonRapido {
    background: rgba(255, 102, 17, 1) url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/shiny1button_bg.png) 50% 50% repeat-x;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    border-radius: 0px;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    width: 100%;
    border: solid rgba(204, 204, 204, 1) 0px;
    white-space: nowrap;
    outline: 0;
}

.botonRapido:hover {
    background: linear-gradient( grey, grey, black);
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.botonRapido2:hover {
    background: linear-gradient( grey, grey, rgb(47, 47, 47));
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}


/*  BUTTON  */

.botonRapido2 {
    background: rgba(0, 82, 150, 1) url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/shiny1button_bg.png) 50% 50% repeat-x;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    border-radius: 0px;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    width: 100%;
    border: solid rgba(204, 204, 204, 1) 0px;
    white-space: nowrap;
    outline: 0;
}

@media (max-width: 400px) {
    .botonRapido {
        font-size: 1.1em;
    }
    .botonRapido2 {
        font-size: 1em;
        height: 28px;
    }
}

@media (max-width: 768px) {
    .logo {
        text-align: center;
    }
}

.menu-button {
    position: fixed;
    right: 37px;
    top: 2%;
    z-index: 1000;
}

.navbar-toggler {
    padding: .6rem .6rem;
}

.row {
    width: 100%;
}

#side-menu {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 0;
    top: 0;
    right: 0;
    height: 100%;
    transition: 1s;
    padding-top: 50px;
}

#side-menu a {
    font-size: 0.8em;
    color: black;
}

#side-menu.active {
    width: 200px;
}

.a-menu a {
    width: 100%;
    text-align: left;
}