<nav class="navbar fixed-top navbar-light bg-light" style="margin:0px;padding:0px 0 0px 0;">
    <div class="row justify-content-md-center" style="margin:0px;padding:0px;">
        <div class="col-12 col-sm-2 without-padding logo">
            <a href="#" routerLink="/"><img src="assets/images/logo.png" alt="Logo"></a>
        </div>
        <div class="col-6 col-sm-4" style="margin-top: 1.5%;padding: 0 2.5px 0 0;">
            <button class="btn botonRapido2 btn-block" href="#" routerLink="/search">{{'Vehiculos en venta' | uppercase}}</button>
        </div>
        <div class="col-6 col-sm-4" style="margin-top: 1.5%;padding: 0 0 0 2.5px">
            <button class="btn botonRapido btn-block " href="#" routerLink="/sell_easy">{{TextMenu[DB.lang].sell_easy | uppercase}}</button>
        </div>
    </div>
    <button class="navbar-toggler menu-button" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="side-menu">
        <a *ngIf="!DB.UserLogIn" class="monito-user" href="javascript:void(0)" (click)="OpenDalogLogin();toggleMenu();" title="Inicia Sesion o Registrate"> <i class="far fa-user">   </i>Inicia Sesion o Registrate</a>
        <!--<a class="btn btn-light btn-sm navbar-btn margin-button" routerLink="/credit">{{TextMenu[DB.lang].credit}}</a>
      <a class="btn btn-light btn-sm navbar-btn margin-button" routerLink="/insurance">{{TextMenu[DB.lang].insurance}}</a>
      <a class="btn btn-light btn-sm navbar-btn margin-button" routerLink="/">{{TextMenu[DB.lang].new_cars}}</a>
      <img (click)="ChangeLanguage('es_CL')" class="icon-lang margin-button" src="assets/images/es_CL.png" alt="" title="Cambiar Idioma">
      <img (click)="ChangeLanguage('en_US')" class="icon-lang margin-button" src="assets/images/en_US.png" alt="" title="Change Language">-->
        <div *ngIf="DB.UserLogIn" class="a-menu">
            <a class="btn">HOLA {{userName}}</a>
            <a class="btn " href="javascript:void(0);" routerLink="/profile" (click)="toggleMenu();">{{TextMenu[DB.lang].profile}}</a>
            <a class="btn " href="javascript:void(0);" routerLink="/publications" (click)="toggleMenu();">Mis Publicaciones</a>
            <a *ngIf="DB.UserLogInData.user?.type_user=='Administrator'" class="btn " href="javascript:void(0); " routerLink="/administrator" (click)="toggleMenu(); ">Administracion</a>
            <a class="btn " href="javascript:void(0); " (click)="DB.logout();toggleMenu() ">{{TextMenu[DB.lang].logout}}</a>
        </div>
    </div>
</nav>
<!-- <div class="banner-publish "><span>{{TextMenu[DB.lang].banner}}</span></div> -->