<form [formGroup]="FormLogin" (ngSubmit)="login()" novalidate>
  <div class="row justify-content-center"  style="margin-top:30px;">
    {{TextMenu[DB.lang].title | uppercase}}
  </div>
  <div class="row justify-content-center" >
    <div class="form-group has-feedback col-12">
      <input type="email" class="form-control input-search"  placeholder="{{TextMenu[DB.lang].vemail3}}" formControlName="email"> 
      <div *ngIf="FormLogin.get('email').errors && FormLogin.get('email').dirty" class="error-form">
        <label *ngIf="FormLogin.get('email').hasError('email')">{{TextMenu[DB.lang].vemail}}</label>
        <label *ngIf="FormLogin.get('email').hasError('required')">{{TextMenu[DB.lang].vemail2}}</label>
      </div>
    </div>
    <div class="form-group has-feedback col-12">
      <input type="password" class="form-control input-search" (keyup.enter)="login()"  placeholder="{{TextMenu[DB.lang].vpassword}}" formControlName="password"> 
      <div *ngIf="FormLogin.get('password').errors && FormLogin.get('password').dirty" class="error-form">
        <label *ngIf="FormLogin.get('password').hasError('required')">{{TextMenu[DB.lang].vpassword2}}</label>
      </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary input-search form-control" [disabled]="FormLogin.invalid">{{TextMenu[DB.lang].button}}</button>
    </div>
    <a href="javascript:void(0)" (click)="OpenModalRegister()">Registrate Aquì</a>
  </div>
</form>