/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

@font-face {
    font-family: "DINNfont";
    src: url("../src/assets/fonts/76e8830038ab225cdb852f902d207c72.eot");
    /* IE9*/
    src: url("../src/assets/fonts/76e8830038ab225cdb852f902d207c72.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../src/assets/fonts/76e8830038ab225cdb852f902d207c72.woff2") format("woff2"), /* chrome、firefox */
    url("../src/assets/fonts/76e8830038ab225cdb852f902d207c72.woff") format("woff"), /* chrome、firefox */
    url("../src/assets/fonts/76e8830038ab225cdb852f902d207c72.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../src/assets/fonts/76e8830038ab225cdb852f902d207c72.svg#DIN Neuzeit Grotesk LT W01 Lt") format("svg");
    /* iOS 4.1- */
}

body {
    padding-top: 65px;
    background-color: lightgray;
    font-size: 10px;
    font-family: DINNfont !important;
    text-transform: uppercase;
}

* {
    font-size: 12px;
}

input {
    height: 20px;
}

:root {
    --flashy-color: rgb(235, 191, 46);
    --flashy-color-hover: rgba(235, 191, 46, 0.7);
    --azul-logo: rgb(0, 82, 150);
    --gris-logo: rgb(127, 127, 127);
}

.icon-lang {
    width: 20px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--azul-logo) !important;
}

.button-flashy {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    color: white !important;
    background-color: var(--flashy-color);
}

.button-flashy:hover {
    color: var(--flashy-color) !important;
    background-color: white;
}

.margin-button {
    margin: 0px 5px;
}

.backcontainer {
    background-color: white;
}

.margin-main {
    margin-top: 40px;
}

.banner-publish {
    width: 100%;
    color: white;
    background-color: var(--azul-logo);
    text-align: center;
    font-size: 12px;
}

.banner-publish span {
    vertical-align: -webkit-baseline-middle;
    text-transform: uppercase;
}

.button-session {
    position: fixed;
    right: 10%;
    z-index: 1031;
    margin-top: -20px;
}

.button-session a {
    padding: 0px 5px;
}

.input-search {
    margin: 5px 0px;
    height: 26px;
    text-transform: uppercase;
}

.error-form {
    border: solid red 1px;
    border-radius: 4px;
    position: absolute;
    background-color: white;
    font-size: 10px;
    padding: 0 5px;
    z-index: 2000;
}

.error-form label {
    height: 0px;
}

.session-name {
    font-size: 12px;
    text-shadow: solid black 2px 2px;
}

.title-featured {
    text-align: center;
    background-color: var(--gris-logo);
    border: solid 1px var(--gris-logo);
    color: white;
}

.images_upload {
    width: 100%;
    padding: 3px !important;
    margin: 0px;
}

.images_upload img {
    width: 100%;
    margin: auto;
}

.title-image {
    position: absolute;
    text-shadow: white 1px 1px;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.25);
}

.pub-div {
    border: solid 1px lightgray;
    border-radius: 5px;
    padding: 0 !important;
    min-height: 100px;
}

.pub-det p {
    margin: 0px;
    padding: 0px;
}

.publication-cube {
    margin: 5px;
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 3px;
    padding: 2px;
    display: table-cell;
    vertical-align: middle;
}


/* Podemos eliminar este estilo si no queremos que se adapte al ancho máximo */

.delimit-img {
    width: 100%;
    /* Ancho máximo */
    margin: auto;
    /* Centramos el vídeo */
}


/* El contenedor con el padding-top crea el tamaño del vídeo */

.container-img {
    height: 0px;
    width: 100%;
    padding-top: 56.25%;
    /* Relación: 16/9 = 56.25% */
    position: relative;
}


/* El iframe se adapta al tamaño del contenedor */

.container-img img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.big-data {
    background-color: var(--gris-logo);
    color: white;
    height: 25px;
    padding-top: 4px;
    margin: 0 !important;
}

.search-data {
    padding-left: 9px;
}

.search-data-price {
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--gris-logo);
    padding-right: 6px;
}

.redes i {
    color: var(--azul-logo);
}

.row-without-margin-horizont {
    margin: auto 0px !important;
}

.cdk-overlay-pane {
    overflow: auto;
}


/* spinner begin  */

.lds-ellipsis {
    display: inline-block;
    position: absolute;
    margin-top: -25px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}


/* spinner end  */

.without-padding {
    padding: 0px !important;
}


.color-icon {
    color: var(--gris-logo);
    padding: 0 5px;
}

@media screen and (max-width: 575px) {
    body {
        padding-top: 104px;
    }
}

@media screen and (max-width: 332px) {
    .banner-publish span {
        font-size: 0.9em;
    }
}

/*.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgba(0, 82, 150, 1) !important;
}*/

.fixed-top {
    z-index: 1000 !important;
}

.buscador {
    width: 187px;
    top: 175px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.856);
    border-radius: 3px;
    padding: 3px 8px;
}

.input-error {
    border: solid red 1px !important;
    border-radius: 3px;
}

.img-ini {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.swalCustom {
    text-transform: none;
}

.mat-paginator-container {
    justify-content: center !important;
}

/*********** Padding *********************/
.pdl-1{
    padding-left: 1%;
}
.pdl-2{
    padding-left: 2%;
}
.pdl-3{
    padding-left: 3%;
}
.pdl-4{
    padding-left: 4%;
}

/************* publicaciones   **************/

.publication {
    cursor: pointer;
    font-family: Roboto;
}

/*.publication:hover {
    background: #E7F0F6 none;
}
*/

/************* radio buttons de mejorar publicacion **************/

mat-radio-button {
    padding-right: 10px;
}

div.mat-radio-label-content{
    color: #212529;
    font-family: impact;
    font-size: 16px !important;
}

div.mat-radio-container {
    width: 30px;
    height: 30px;
}

div.mat-radio-outer-circle {
    height: 30px;
    width: 30px;
}

div.mat-radio-inner-circle {
    height: 30px;
    width: 30px;
}


.icon{
    font-size: 14px;
}