.icons-pub i {
    font-size: 1.4rem;
}

.border-radius-none {
    border-radius: 0;
}

.btn-default {
    background-color: var(--gris-logo);
}

.title-publications {
    text-align: center;
    background-color: var(--gris-logo);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
}

.btn {
    border: white 1px solid;
}

.btn:hover {
    opacity: .7;
}

.cod {
    font-size: 0.6rem;
    margin-bottom: 4px;
}

.publication_btn{
    padding: 7%;
    margin: 0px;
}

.icon{
    font-size: 16px !important;
}


/*@media only screen and (min-width: 1140px) {
    

}
*/

@media only screen and (max-width: 1140px) {
    
    .publication_btn{
        padding: 1%;
    }

   .easy_sell{
        font-size: 10px;
    }

    .icon{
        font-size: 14px !important;
    }

}

@media only screen and (max-width: 540px) {
    
    .pub-description{
        font-size: 10px !important;
    }

    .icon{
        font-size: 12px !important;
    }
}

.publication{
    padding: 1%;
    margin: 8px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
/*    background-color: #DCDCDC;
    margin: auto;
*/}

.publication-img{
    max-width: 100%;
    width: 100%;
    height: 100px;
}

.no-padding{
    padding: 0px !important;
}

.no-margin{
    margin: 0px !important;
}

/*Icono de vende facil btn*/

.easy-sell-icon{
    padding-left: 4px;
}

.icon{
    color:#f2f2f2;
}
