<div class="title-publications">mis Publicaciones</div>
<!-- PUBLICATIONS -->
<div class="row">

    <div class="col-md-6 col-12 hvr-grow" *ngFor="let publication of ArrayPublications">
        <div class="row publication">

            <!-- Imagen -->
            <div class="col-xl-5 col-6 align-self-center no-padding no-margin">
                <img src="http://localhost:8000{{publication.photos[0].route}}" class="publication-img rounded" >
            </div>

            <!-- Detalles -->
            <div class="col-xl-4 col-6 pub-det align-self-center">

                <span class="badge badge-pill badge-info cod">COD: {{publication.id}}</span>
                <p class="text-muted"><b class="pub-description">Marca:</b>&nbsp;<i class="pub-description">{{publication.brandsString.length <= 10 && publication.brandsString || publication.brandsString.substr(0,7) + '...'}}</i></p>
                <p class="text-muted"><b class="pub-description">Modelo:</b>&nbsp; <i class="pub-description">{{ publication.modelsString.length <= 10 && publication.modelsString || publication.modelsString.substr(0,7) + '...'}}</i></p>
                <p class="text-muted">
                    <b class="pub-description">Version:</b>&nbsp;  <i class="pub-description">{{publication.version != '' && publication.version || 'S/A'}}</i>
                </p>
                <p class="text-muted"><b class="pub-description">Año:</b>&nbsp;<i class="pub-description">{{publication.year}}</i></p>

            </div>

            <!-- Botones -->
            <div class="col-xl-3 col-12 icons-pub align-self-center no-padding no-margin text-center">
                <div class="row" style="margin:0px;padding:0;">
                    <button (click)="Upgrade(publication)" type="button" class="publication_btn btn btn-block btn-primary col-xl-12 col-6 align-self-end" > 
                        <a class="easy-sell hvr-icon-hang">
                            VENDE FACIL
                            <i class="easy-sell-icon icon  hvr-icon fas fa-angle-double-down"></i>
                        </a>
                    </button>
                    <button (click)="upgradePub(publication)" type="button" class="publication_btn btn btn-default btn-block col-xl-4 col-2">
                        <span style="font-size: 12px; font-weight: bolder; color:#f2f2f2;">
                            {{publication.visit}}
                            <span style="padding-left: 2px">
                                <i class="icon fas fa-eye"></i>
                            </span>
                        </span>
                    </button>
                   <!--  <button (click)="showMessages(publication)" type="button" class="publication_btn btn btn-default btn-block col-xl-4 col-2">
                        <span style="font-size: 14px; font-weight: bolder; color:#000;">
                            {{publication.messages.length}}
                            <spanpadding-left: 2px">
                                <i class="icon far fa-comment-dots"></i>
                            </span>
                        </span>
                    </button> -->
                    <button (click)="EditPublication(publication)" type="button" class="publication_btn btn btn-default btn-block col-xl-4 col-2">
                        <span>
                            <span>
                                <i class="icon fas fa-edit"></i>
                            </span>
                        </span>
                    </button>
                    <button (click)="EliminarPublication(publication)" type="button" class="publication_btn btn btn-default btn-block col-xl-4 col-2">
                        <span>
                            <span>
                                <i class="icon fas fa-trash"></i>
                            </span>
                        </span>
                    </button>
                </div>
                <!-- <button type="button" class="btn btn-block" style="background-color: rgba(255, 102, 17, 1);padding:0;color:white;font-weight: bold;" (click)="upgradePub(publication)">Ver Publicación</button>
                <button type="button" class="btn btn-info" style="padding:0;" (click)="showMessages(publication)">{{publication.messages.length}}<i class="material-icons">sms</i></button>
                <button type="button" class="btn btn-default" style="padding:0;" (click)="EditPublication(publication)"><i class="material-icons">edit</i></button>
                <button type="button" class="btn btn-danger" style="padding:0;" (click)="EliminarPublication(publication)"><i class="material-icons">delete_forever</i></button>
                <br><button *ngIf="DB.UserLogInData.user?.type_user=='Administrator'" type="button" class="btn btn-success" style="padding:0;" (click)="Upgrade(publication)">up</button> -->
            </div>
        </div>
    </div>
    
</div>
