.congratulations {
    background-image: url("/assets/images/promotios/congraculations.jpg");
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    background-position: center;
    background-size: cover;
    position: relative;
}

.congratulations>* {
    z-index: 1;
    position: relative;
}

.congratulations .color {
    background-image: linear-gradient(rgba(0, 82, 150, 1), rgba(0, 82, 150, .8));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.promotions {
    background-image: url("/assets/images/promotios/promotios.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    position: relative;
}

.promotions>* {
    z-index: 1;
    position: relative;
}

.promotions .color {
    background-image: linear-gradient(rgba(255, 102, 17, 1), rgba(255, 102, 17, .3));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.promotions .row {
    padding: 30px 0;
}

.btn-promotions {
    background-color: white;
    color: #ff6611 !important;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

a:hover,
a {
    text-decoration: none !important;
    color: #fff;
}

._button{
    border-radius: 6px;
    padding: 6px;
    margin-bottom: 4px;
    cursor: pointer;
    /*background: #808080;*/
    font-size: 11px;
    background-color: #fff; 
    color: rgba(0, 82, 150, 1);
}

@media screen and (max-width: 760px){
    ._button{
        font-size: 9px;
    }
}

