<div class="congratulations">
    <span class="color"></span>
    <div class="row">
        <div class="col-12 mb-2">
            <h2>Felicitaciones</h2>
            <h6>Haz publicado exitosamente!</h6>
        </div>
        <div class="col-6 offset-3 col-md-4 offset-md-4 ">
            <a class="hvr-radial-out btn-block _button" [routerLink]="['/view_publication']" [queryParams]="{publication:id_pub}">Ver Publicacion</a>
        </div>
        <div class="col-6 offset-3 col-md-4 offset-md-4 ">
            <a class="hvr-radial-out btn-block _button" [routerLink]="['/sell_easy']" [queryParams]="{publication:id_pub}">Editar Publicacion</a>
        </div>
        <div class="col-6 offset-3 col-md-4 offset-md-4 ">
            <a class="hvr-radial-out btn-block _button" [routerLink]="['/']">Volver</a>
        </div>
    </div>
   <!--  <p>
        Ya puedes ver tu publicación en: <a [routerLink]="['/view_publication']" [queryParams]="{publication:id_pub}">www.easyauto.cl/view_publication?publication={{id_pub}}</a> y compartir con tus amigos en las redes sociales, aumentando tus posibilidades
        de venta.
    </p> -->
</div>
<div class="promotions">
    <span class="color"></span>
    <h2>Sistema vende Facíl</h2>
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h6><i class="icon fas fa-car"></i>&nbsp; Solicita un llamado gratuito con un experto automotriz &nbsp;<i class="icon fas fa-wrench"></i></h6>
            <br>
            <a class="btn-promotions" href="https://api.whatsapp.com/send?phone=56995017419&text={{textUrl}}" target="_blank">MAS INFO AQUI</a>
        </div>
<!--         <div class="col-md-6">
            <mat-checkbox color="primary" [(ngModel)]="var1" (ngModelChange)="find()"></mat-checkbox> Mejor precio: Vendemos tu auto <br> (Consignación Virtual)
        </div>
        <div class="col-md-6">
            <mat-checkbox color="primary" [(ngModel)]="var2" (ngModelChange)="find()"></mat-checkbox> Más rápido: Compramos tu auto <br> (Mejoramos precio de la competencia)
        </div>
 -->    </div>
    <br>
</div>