section {
    min-height: 41.3vh;
}

.form-credit {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.custom-input-file mat-form-field {
    width: 90%;
}

.custom-input-file button {
    width: 10%;
}

.custom-input-file input {
    display: none;
}

.subtitle-fourFormGroup {
    font-size: 0.8rem;
    text-transform: none;
    padding-bottom: 10px;
}

section {
    padding: 20px 0;
}

.title-credit-short {
    width: 100%;
    text-align: center;
}