<section>
    <div class="title-credit-short">
        Solicita un llamado. <br> Un profesional te asesorará en la compra de tu siguiente vehículo.
    </div>
    <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Datos personales:</ng-template>
        <div class="form-credit">
            <mat-form-field>
                <input matInput placeholder="Nombres y apellidos" formControlName="name" required>
            </mat-form-field>
        </div>
        <div class="form-credit">
            <mat-form-field>
                <input matInput placeholder="Rut" formControlName="rut" required maxlength="12" (input)="firstFormGroup.controls.rut.setValue(functions.formatRut(firstFormGroup.value.rut))">
            </mat-form-field>
        </div>
        <div class="form-credit">
            <mat-form-field>
                <input matInput placeholder="Telefono" formControlName="phone" required>
            </mat-form-field>
        </div>
        <div class="form-credit">
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
        </div>
        <div class="form-credit">
            <div>Posee cuenta corriente</div>
            <mat-radio-group aria-label="Select an option" formControlName="account_type" required>
                <mat-radio-button color="primary" value='SI'>SI</mat-radio-button>
                <mat-radio-button color="primary" value="NO">NO</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="form-credit">
            <button mat-stroked-button color="primary" (click)="sendData()">Enviar</button>
        </div>
    </form>
</section>