<section>
    <mat-vertical-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Datos personales:</ng-template>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Nombres y apellidos" formControlName="name" required>
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Rut" formControlName="rut" required maxlength="12" (input)="firstFormGroup.controls.rut.setValue(functions.formatRut(firstFormGroup.value.rut))">
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input readonly (click)="picker.open()" matInput [matDatepicker]="picker" placeholder="fecha de nacimiento" formControlName="birtdate" required>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Direccion" formControlName="address" required>
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Comuna" formControlName="commune" required>
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Telefono" formControlName="phone" required>
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email" required>
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <div>Posee cuenta corriente</div>
                    <mat-radio-group aria-label="Select an option" formControlName="account_type" required>
                        <mat-radio-button color="primary" value='SI'>SI</mat-radio-button>
                        <mat-radio-button color="primary" value="NO">NO</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="form-credit">
                    <button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>DATOS DEL VEHÍCULO A FINANCIAR:</ng-template>

                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Marca modelo año" formControlName="car" required>
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Monto del vehículo" formControlName="amount_car" required (input)="secondFormGroup.controls.amount_car.setValue(functions.formatNumberToAmount(secondFormGroup.value.amount_car))">
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <div>Monto máximo pie</div>
                    <mat-radio-group formControlName="amount_init">
                        <mat-radio-button color="primary" value="0.20">20%</mat-radio-button>
                        <mat-radio-button color="primary" value="0.25">25%</mat-radio-button>
                        <mat-radio-button color="primary" value="0.30">30%</mat-radio-button>
                    </mat-radio-group>
                    <!-- <mat-form-field>
                        <input matInput placeholder="Monto máximo pie" formControlName="amount_init" required (input)="secondFormGroup.controls.amount_init.setValue(functions.formatNumberToAmount(secondFormGroup.value.amount_init))">
                    </mat-form-field> -->
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Monto máximo de la cuota." formControlName="monthly_payment" required (input)="secondFormGroup.controls.monthly_payment.setValue(functions.formatNumberToAmount(secondFormGroup.value.monthly_payment))">
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <button mat-stroked-button color="primary" matStepperPrevious>Atrás</button>
                    <button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" errorMessage="Address is required.">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Datos del Empleador:</ng-template>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Rut" formControlName="rut_employer" required maxlength="12" (input)="thirdFormGroup.controls.rut_employer.setValue(functions.formatRut(thirdFormGroup.value.rut_employer))">
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Nombre de la empresa o razón social" formControlName="name_employer" required>
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Cuantos años tienes trabajando en la empresa?" formControlName="year_employer" required>
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Cargo" formControlName="position_employer" required>
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="Renta líquida" formControlName="salary_employer" required (input)="thirdFormGroup.controls.salary_employer.setValue(functions.formatNumberToAmount(thirdFormGroup.value.salary_employer))">
                    </mat-form-field>
                </div>
                <div class="form-credit">
                    <div>Tipo de renta</div>
                    <mat-radio-group aria-label="Select an option" formControlName="salary_type_employer" (change)="setNewQuestion()" required>
                        <mat-radio-button color="primary" value='FIJA'>FIJA</mat-radio-button>
                        <mat-radio-button color="primary" value="VARIABLE">VARIABLE</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="form-credit">
                    <button mat-stroked-button color="primary" matStepperPrevious>Atrás</button>
                    <button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="fourFormGroup" errorMessage="Address is required.">
            <form [formGroup]="fourFormGroup">
                <ng-template matStepLabel>Subir archivos:</ng-template>
                <div class="subtitle-fourFormGroup">
                    - Solo pdf e imagenes <br> - Cédula identidad por ambos lados. <br> - Certificado AFP últimos 24 meses con Rut de Empleador. <br> - Comprobante de domicilio vigente (cuenta de luz, agua, servicios telefónicos, cable o Internet, sin
                    deuda ni saldos pendientes, fecha menor a 30 días.
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="{{files.f1}}" [value]="files.f1" readonly>
                        <span matSuffix (click)="openButtonFile('fileToUpload1')">Adjuntar</span>
                    </mat-form-field>
                    <input id="fileToUpload1" (change)="Upload_Image($event,'fileToUpload1',1)" type="file" style="display:none;" accept='image/*,application/pdf' formControlName="file1">
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="{{files.f2}}" [value]="files.f2" readonly>
                        <span matSuffix (click)="openButtonFile('fileToUpload2')">Adjuntar</span>
                    </mat-form-field>
                    <input id="fileToUpload2" (change)="Upload_Image($event,'fileToUpload2',2)" type="file" style="display:none;" accept='image/*,application/pdf' formControlName="file2">
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="{{files.f3}}" [value]="files.f3" readonly>
                        <span matSuffix (click)="openButtonFile('fileToUpload3')">Adjuntar</span>
                    </mat-form-field>
                    <input id="fileToUpload3" (change)="Upload_Image($event,'fileToUpload3',3)" type="file" style="display:none;" accept='image/*,application/pdf' formControlName="file3">
                </div>
                <div class="form-credit">
                    <mat-form-field>
                        <input matInput placeholder="{{files.f4}}" [value]="files.f4" readonly>
                        <span matSuffix (click)="openButtonFile('fileToUpload4')">Adjuntar</span>
                    </mat-form-field>
                    <input id="fileToUpload4" (change)="Upload_Image($event,'fileToUpload4',4)" type="file" style="display:none;" accept='image/*,application/pdf' formControlName="file4">
                </div>
                <div class="form-credit">
                    <button mat-stroked-button color="primary" matStepperPrevious>Atrás</button>
                    <button mat-stroked-button color="primary" (click)="sendData()">Enviar</button>
                </div>
            </form>
        </mat-step>
    </mat-vertical-stepper>
    <!--
    <form [formGroup]="FormCredit" (ngSubmit)="SendDataCredit()" novalidate class="text-center">
        <h3>Solicita Tu Crédito</h3>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-sm-3">
                <h5>Datos Personales</h5>

                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Nombre" formControlName="name">
                    <div *ngIf="FormCredit.get('name').errors && FormCredit.get('name').dirty" class="error-form">
                        <label *ngIf="FormCredit.get('name').hasError('required')">Nombre Requerido!</label>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Apellido" formControlName="lastname">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Direccion" formControlName="address">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Departamento" formControlName="departament">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Calle" formControlName="street">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Comuna" formControlName="commune">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Region" formControlName="region">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Rut" formControlName="rut">
                    <div *ngIf="FormCredit.get('rut').errors && FormCredit.get('rut').dirty" class="error-form">
                        <label *ngIf="FormCredit.get('rut').hasError('required')">Marca Requerida!</label>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Correo electronico" formControlName="email">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Telefonos" formControlName="phone">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Estado Civil" formControlName="civil_status">
                </div>
                <div class="form-group has-feedback">
                    <input type="date" class="form-control input-search" placeholder="Fecha Nacimiento" formControlName="birtdate">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Profesión y Oficio" formControlName="profession">
                </div>
                <div class="form-group has-feedback">
                    <ng-select [items]="HomeTypeArray" formControlName="home_type" bindValue="name" bindLabel="name" placeholder="Casa Donde Habita"></ng-select>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Arriendo / Dividendo $$$" formControlName="rent">
                </div>
            </div>
            <div class="col-sm-3">
                <h5>Datos del Empleador</h5>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Nombre Empleador" formControlName="employer_name">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Direccion Comercial Empleador" formControlName="employer_address">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Rut Empleador" formControlName="employer_rut">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Telefono Empleador" formControlName="employer_phone">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Tipo de Contrato" formControlName="contract_type">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Cargo en compañia" formControlName="employer_position">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Renta fija o Variable" formControlName="contract_rent">
                </div>
                <div class="form-group has-feedback">
                    <input type="date" class="form-control input-search" formControlName="date_hire">
                </div>
            </div>
            <div class="col-sm-3">
                <h5>Patrimonio</h5>
                <div class="form-group has-feedback">
                    <h6>Vehiculo- Modelo- Marca - Año - Patente</h6>
                    <input type="text" class="form-control input-search" placeholder="Auto" formControlName="vehicle">
                    <div *ngIf="FormCredit.get('vehicle').errors && FormCredit.get('vehicle').dirty" class="error-form">
                        <label *ngIf="FormCredit.get('vehicle').hasError('required')">Datos auto Requerido!</label>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Precio actual" formControlName="price_vehicle">
                </div>
                <h5>Propiedades a su nombre</h5>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Casa - Depto -Terreno - Oficinas" formControlName="properties">
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Precio actual" formControlName="price_properties">
                </div>
                <h5>Financiamiento</h5>
                <div class="form-group has-feedback">
                    <h6>Vehiculo- Modelo- Marca - Año - Patente</h6>
                    <input type="text" class="form-control input-search" placeholder="Datos del Auto" formControlName="financing_vehicle">
                    <div *ngIf="FormCredit.get('financing_vehicle').errors && FormCredit.get('financing_vehicle').dirty" class="error-form">
                        <label *ngIf="FormCredit.get('financing_vehicle').hasError('required')">Datos auto Requerido!</label>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Datos del Auto" formControlName="price_financing_vehicle">
                    <div *ngIf="FormCredit.get('price_financing_vehicle').errors && FormCredit.get('price_financing_vehicle').dirty" class="error-form">
                        <label *ngIf="FormCredit.get('price_financing_vehicle').hasError('required')">Datos auto Requerido!</label>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Monto del pie" formControlName="starting_amount">
                    <div *ngIf="FormCredit.get('starting_amount').errors && FormCredit.get('starting_amount').dirty" class="error-form">
                        <label *ngIf="FormCredit.get('starting_amount').hasError('required')">Datos auto Requerido!</label>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Numero de cuotas" formControlName="number_parts">
                    <div *ngIf="FormCredit.get('number_parts').errors && FormCredit.get('number_parts').dirty" class="error-form">
                        <label *ngIf="FormCredit.get('number_parts').hasError('required')">Datos auto Requerido!</label>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control input-search" placeholder="Procedencia del pie" formControlName="origin_starting">
                    <div *ngIf="FormCredit.get('origin_starting').errors && FormCredit.get('origin_starting').dirty" class="error-form">
                        <label *ngIf="FormCredit.get('origin_starting').hasError('required')">Datos auto Requerido!</label>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <textarea type="text" class="form-control input-search" placeholder="Observaciones" formControlName="details"> </textarea>
                    <div *ngIf="FormCredit.get('details').errors && FormCredit.get('details').dirty" class="error-form">
                        <label *ngIf="FormCredit.get('details').hasError('required')">Datos auto Requerido!</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-sm-center">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="FormCredit.invalid ">Enviar</button>
            </div>
        </div>
    </form> -->
</section>