.showcase-img {
    height: 300px;
    margin-left: auto !important;
    width: initial;
}

@media screen and (max-width: 400px) {
    .showcase-img {
        height: 193px;
        margin-left: auto !important;
        width: initial;
    }
}

.text-carousel {
    text-shadow: black 1px 1px;
    font-size: 2em;
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 36%;
    left: 0;
    z-index: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
}

.movile-off {
    height: 300px;
    background-position: center right;
}

.movile {
    background-position: bottom center;
}