<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active img-ini movile-off" [ngClass]="{'movile': movile}" [ngStyle]="{'background-image': image1}" routerLink="sell_easy">
            <!-- <img class="mx-auto d-block showcase-img" src="assets/images/home/home1.png" alt="First slide">
             <div class="carousel-caption d-none d-md-block">
                <h5 class="text-carousel">UNICO PORTAL EN TENER TODO EN UN SOLO LUGAR</h5>
            </div> -->
        </div>
        <div class="carousel-item img-ini movile-off" [ngClass]="{'movile': movile}" [ngStyle]="{'background-image': image2}" routerLink="creditoautomotriz">
            <!--<img class="mx-auto d-block showcase-img" src="assets/images/home/home2.png" alt="Second slide">
             <div class="carousel-caption d-none d-md-block">
                <h5 class="text-carousel">PUBLICACIONES GRATUITAS <br> CONSIGNACION VIRTUAL <br> COMPRA INMEDIATA</h5>
            </div> -->
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>