
.aniAuto{
    transition: all 3s linear;
}

.carousel .content {
    display: flex;
}
.carousel .content .item {
    width: 100%;
    display: block;
    /* border:solid 1px lightgray; */
}
.carousel .content .item .img {
    width: 100%;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 29px;
}

.ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff5252;
    border: 2px solid white;
    opacity: 0.5;
}
.ball.visible {
    opacity: 1;
}
    
.img-avatar{
    cursor:pointer;
    position: relative;
    background-position: center;
    background-size: cover;
}