<ngx-hm-carousel [(ngModel)]="index" [show-num]="showNum" [data]="avatars" [autoplay]="true" [between-delay]="400" [autoplay-speed]="3000" [aniTime]="3000" aniClass="transition" aniClassAuto="aniAuto" class="carousel c-accent">

    <section ngx-hm-carousel-container class="content">
        <article class="item" ngx-hm-carousel-item *ngFor="let avatar of avatars; let i = index" async>
            <div class="img" style="cursor:pointer;position: relative;" [style.backgroundImage]="'url('+avatar.url+')'">
            </div>
        </article>
        <ng-template #infiniteContainer></ng-template>
    </section>

    <ng-template #carouselContent let-avatar let-i="index" *ngIf="avatars.length>0">
        <article class="item">
            <div class="img" style="cursor:pointer;position: relative;" [style.backgroundImage]="'url('+avatar.url+')'">
            </div>
        </article>
    </ng-template>

    <!-- only using in infinite mode or autoplay mode, that will render with-->
    <ng-template #carouselContent let-avatar let-i="index" *ngIf="avatars.length>0">
        <article class="item">
            <!-- [ngClass]="{'visible': currentIndex===i}" -->
            <div class="img" [style.backgroundImage]="'url('+avatar.url+')'">
                {{i}}
            </div>
        </article>
    </ng-template>

    <ng-template #carouselPrev>
        <div class="click-area">
            <i class="material-icons" style="color:darkgrey; font-size: 1.3em;">
            arrow_back_ios
          </i>
        </div>
    </ng-template>
    <ng-template #carouselNext>
        <div class="click-area">
            <i class="material-icons" style="color:darkgray; font-size: 1.3em;">
            arrow_forward_ios
          </i>
        </div>
    </ng-template>
    <!--
    <ng-template #carouselDot let-model>
      <div class="ball bg-accent"
        [class.visible]="model.index === model.currentIndex"></div>
    </ng-template>

    <ng-template #carouselProgress let-progress>
      <div class="progress"></div>
    </ng-template>
  -->
</ngx-hm-carousel>
