<div class="row">
    <div class="col-sm-12 carousel-main" style="padding: 0;">
        <app-showcase></app-showcase>
    </div>
    <!--  <div class="buscador">
        <form [formGroup]="FormSearch" (ngSubmit)="Search()" novalidate>
            <div class="content">
                <div class="search-text">{{TextMenu[DB.lang].title}}</div>
            </div>
            <div>
                <select formControlName="regions" class="form-control">
                    <option value="">SELECIONE REGIÓN</option>
                    <option value="item.id" *ngFor="let item of Regions">{{item.name|uppercase}}</option>
                </select>
            </div>
            <div>
                <button type="submit" class="form-control btn btn-primary input-search" [disabled]="FormSearch.errors">{{TextMenu[DB.lang].button_search}}</button>
            </div>
        </form>
    </div> -->
</div>
<div style="border:solid 1px lightgray;margin: 0 -15px 0 -15px;">
    <div class="title-featured">Alianzas</div>
    <div class="alianza-img-contenedor" style="display: flex;">
        <div style="width:100%;">
            <app-carousel [avatars]="ListAlianzas"></app-carousel>
        </div>
    </div>
</div>
<app-showcase-cars-eatured></app-showcase-cars-eatured>
<div class="row home-row">
    <div class="col-md-4 home-row1">
        <p><strong>Personas</strong> <br><br> Publica Gratis y Vende Fácil <br> Recibe ofertas de nuestra Red de Automotoras Partner en Easy Auto.</p>
    </div>
    <div class="col-md-4 home-row2">
        <p><strong>automotoras</strong> <br><br> Inscríbete sin costo y súmate a la Red de Automotoras Partner. Tendrás acceso inmediato para realizar subastas de vehículos.</p>
    </div>
    <div class="col-md-4 home-row1">
        <p><strong>flota empresas</strong> <br><br> Renueva tu Flota, solicita una Visita Técnica para gestionar la venta con Easy Auto.</p>
    </div>
    <div class="col-md-4 home-row2">
        <p><strong> financiamiento</strong> <br><br> Nuevo Crédito Fácil, aprobación en 1 hora y te llevas el vehículo que quieras en menos de 24<span style="color:var(--azul-logo)">_</span>horas.
            <br><br>
            <button class="btn btn-info" routerLink="creditoautomotriz">Solicita aquí</button>
        </p>
    </div>
    <a class="col-md-4 home-row1" [href]="'https://www.youtube.com/playlist?list=PLM4qPOZyu_GTkJLqNvYxC-vH5KQzNu-eo'" target="_blank">
        <p>
            <strong>TESTIMONIOS</strong> <br><br> <img src="/assets/images/TESTIMONIOS.png" width="100%" alt="">
        </p>
    </a>
    <div class="col-md-4 home-row2">
        <p><strong>seguro automotriz</strong> <br><br> El seguro a la medida que cada persona necesita.</p>
    </div>
</div>
<!-- <div style="border:solid 1px lightgray;margin: 15px -15px 30px -15px;cursor:pointer">
    <a [href]="'https://www.youtube.com/playlist?list=PLM4qPOZyu_GTkJLqNvYxC-vH5KQzNu-eo'" target="_blank">
        <div class="title-featured">TESTIMONIOS DE NUESTROS CLIENTES</div>
        <img src="/assets/images/TESTIMONIOS.png" width="100%" alt="">
    </a>
</div>
<div class="row buttons-movile">
    <div class="col-6" style="padding-right:5px !important">
        <button class="btn btn-block btn-primary" routerLink="credit">Creditos</button>
    </div>
    <div class="col-6" style="padding-left:5px !important">
        <button class="btn btn-block btn-primary" routerLink="insurance">Seguro</button>
    </div>
</div>-->