.img-redes {
    text-align: center;
}

.img-redes img {
    width: 200px;
}

.buttons-movile {
    display: none;
    margin-bottom: 10px;
}

@media screen and (max-width: 400px) {
    .buttons-movile {
        display: flex;
    }
    #carouselSeguro {
        display: none;
    }
}

.aniAuto {
    transition: all 3s linear;
}

.carousel .content {
    display: flex;
}

.carousel .content .item {
    width: 100%;
    display: block;
    border: solid 1px lightgray;
}

.carousel .content .item .img {
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    height: 0;
    padding-bottom: 50%;
}


/*    */

.repeat_arrows {
    fill: black;
    transition: all 0.2s ease-out;
}

.repeat_arrows_bot {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
}

.repeat_arrows_top {
    -webkit-transform: translateY(18px);
    transform: translateY(18px);
}

.content {
    text-align: center;
}

#more-arrows {
    width: 75px;
    height: 65px;
}


/*#more-arrows:hover polygon {
    fill: black;
    transition: all 0.2s ease-out;
  }
  #more-arrows:hover polygon.arrow-bottom {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  #more-arrows:hover polygon.arrow-top {
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
  }*/

polygon {
    fill: var(--azul-logo);
    transition: all 0.2s ease-out;
}

polygon.arrow-middle {
    opacity: 0.75;
}

polygon.arrow-top {
    opacity: 0.5;
}

@media screen and (max-width: 575px) {
    .carousel-main {
        padding: 0;
    }
}

.alianza-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alianza-img img {
    width: auto;
    height: 100%;
    margin: 5px 5px;
}

.text-alianza {
    font-weight: bold;
    color: var(--azul-logo)
}

.alianza-img-contenedor {
    height: 30px;
    margin: 5px 0;
}

.search-text {
    color: var(--azul-logo);
    font-weight: bold;
    margin-top: 0px;
}

a:hover {
    text-decoration: none !important;
}

.home-row {
    padding: 2.5px 2px;
    text-align: center;
    margin: 0 -20px;
}

.home-row1 {
    background-color: rgb(217, 217, 217);
    border: 2.5px solid #fff;
    color: black;
    display: table;
    height: 200px;
}

.home-row1>p,
.home-row2>p {
    display: table-cell;
    vertical-align: middle;
    font-size: 1rem;
    text-transform: none;
}

.home-row2>p strong,
.home-row1>p strong {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.home-row2 {
    height: 200px;
    background-color: var(--azul-logo);
    border: 2.5px solid #fff;
    color: white;
    display: table;
}

.home-row2 button {
    background-color: #fff;
    color: var(--azul-logo);
    font-weight: bold;
    margin-left: auto;
}