<div>
    <h4> TERMINOS Y CONDICIONES </h4> 
</div>
<br>
<div style="text-align: justify;">
Easy Auto es un corredor intermediario entre vendedor y comprador, este vehículo nunca ha estado a nombre de la empresa Easy Auto, Se detalla que este vehículo es traspasado del propietario al comprador. Easy Auto solo intermedió la compra.

Easy Auto cumple con realizar inspección visual, estética y de funcionamiento estándar para la funcionalidad del vehículo, no pudiendo percatarse de temas técnicos en profundidad.

Easy Auto no es responsable si el comprador no se percata de cualquier detalle que pueda influir en una posterior disconformidad antes de aceptar la compra.

En caso que hubiese un mal funcionamiento y no existencia del equipamiento el cual el comprador suponía que lo incorporaba, o mala funcionalidad general de los accesorios, parte eléctrica, pintura o mecánica que aparezcan o se percate después de la compra, Easy Auto y el dueño del vehículo vendido no tienen responsabilidades de cualquiera de los temas mencionados y otros. Dado que el comprador estuvo en su total libertad de haberlo revisado para su satisfacción con los profesionales que él estime necesario, Easy Auto solo le dará una orientación en tales casos.

El comprador de este vehículo descrito está en su absoluto derecho de realizar revisión, visual, estética interna y externa, estructural, mecánica, neumáticos, eléctrica al detalle, equipamiento, corroborando especificaciones técnicas del vehículo, pudiendo realizarla o no dependiendo absolutamente de él comprador tal decisión.

Las reparaciones y mantenimiento del vehículo adquirido y descrito en este documento posterior a la venta son de responsabilidad total del nuevo propietario. Easy Auto y el dueño vendedor del vehículo no realizará mantenimientos ni reparaciones posteriormente a la venta de este.

Los acuerdos verbales no serán validados por lo cual se entenderá que todo debe quedar por escrito.

Todas las multas que puedan llegar a aparecer luego de comprar el vehículo, que no estén en el momento de la venta en el certificado de multas correspondiente, son de responsabilidad del comprador

Easy Auto y el dueño vendedor, no tienen ninguna responsabilidad, ni tampoco la obligación de anular la compra que ya fue realizada, ni devoluciones de dinero, ni asumir costos por cualquier tipo de concepto. No se aceptan devoluciones de productos entre el vendedor y comprador, dado que estuvo en total libertad de revisarlo completamente con los profesionales que el estimó necesario para su conformidad.

Se deja claro que Easy Auto es un intermediario Automotriz no siendo dueño de este producto vendido.
</div>