<!-- <div class="big-data row">
    <div class="col-7">
        {{pub.brandsString}} {{pub.modelsString}}
    </div>
    <div class="col-5" style="text-align:right">
        {{pub.price | currencyplus }}
    </div>
</div> -->
<div class="row mt-2 justify-content-center">

    <div class="col-12 col-lg-8 align-self-center" style="padding: 0px;">
        <div id="pub{{pub.id}}big" class="carousel slide delimit-img" data-ride="carousel">
            <div class="carousel-inner">
                <ng-container *ngFor="let photo of pub.photos; let i = index;">
                    <div class="carousel-item container-img active img-ini" *ngIf="i==0" [ngStyle]="{'background-image': 'url(http://localhost:8000'+photo.route+')'}"><span class="count-photos">{{i+1}} de {{pub.photos.length}}</span></div>
                    <div class="carousel-item container-img img-ini" *ngIf="i!==0 && verificType(pub,i)" [ngStyle]="{'background-image': 'url(http://localhost:8000'+photo.route+')'}"><span class="count-photos">{{i+1}} de {{pub.photos.length}}</span></div>
                </ng-container>
            </div>
            <a class="carousel-control-prev" href="#pub{{pub.id}}big" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#pub{{pub.id}}big" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-12 col-sm-10 col-lg-4" style="padding: 15px;">

        <div class="row row-title">
            <div class="col-12 col-title text-center">
                <h2>
                    {{pub.brandsString}} {{pub.modelsString}} {{pub.year}}
                </h2>
            </div>  
            <div class="col-12 text-right text-muted">
                <h1>
                    {{pub.price | currencyplus }}
                </h1>
            </div>  
        </div>

        <div class="row">

            <div class="col-12 col-btn text-center">
                <a class="btn btn-block botonRapido" href="tel:+56{{pub.phone_pub}}"><i class="fa fa-phone-volume"></i> +56{{pub.phone_pub}}</a>
            </div>
            <br>
            <div class="col-12 col-btn text-center">
                <a class="btn btn-block whatsapp-btn" href="https://api.whatsapp.com/send?phone=+56{{pub.phone_pub}}" target="_blank"><i class="fa fa-whatsapp"></i> &nbsp;whatsapp</a>
            </div>
            <br>
            <div class="col-6 col-btn text-center">
                <a id="offerBtn" class="btn btn-block offer-btn disabled" href="#" onkeypress='return event.charCode >= 48 && event.charCode <= 57' target="_blank"><i class="fa fa-dollar" ></i>  &nbsp;Ofertar</a>
            </div>
            <div class="col-6 col-btn text-center align-self-center">
               <i class="fas fa-dollar icon icon_dollar"></i>&nbsp;&nbsp;<input (change)="offerAmmount($event)"  min="{{pub.price / 2}}" type="number"  id="offer_input" placeholder="Oferta">
            </div>
            <div class="col-12 text-justify text-muted mt-2">
                <p class="info-pb"><strong>Pulicado:&nbsp; {{pub.created_at|dateplus}}</strong></p>
                <p class="info-pb"><strong> Vendedor:&nbsp;</strong> {{pub.name_pub}}</p>
                <p class="info-pb"><strong> Comuna:&nbsp;</strong> {{pub.commune}}</p>
            </div>

        </div>
       <!--  <form [formGroup]='formMessage' (ngSubmit)='sendMessage()'>
            <div class="error-form" *ngIf="formMessage.controls['name'].errors && formMessageSend">Nombre requerido!</div>
            <input type="text" class="form-control" placeholder="Nombre" formControlName='name' (input)="formMessage.controls['name'].setValue(functions.formatToUppercase(formMessage.value.name))">

            <div class="error-form" *ngIf="formMessage.controls['email'].errors && formMessageSend">Email requerido!</div>
            <input type="text" class="form-control" placeholder="Email" formControlName='email' (input)="formMessage.controls['email'].setValue(functions.formatToUppercase(formMessage.value.email))">

            <div class="error-form" *ngIf="formMessage.controls['phone'].errors && formMessageSend">Telefono requerido!</div>
            <input type="text" class="form-control" placeholder="Telefono" formControlName='phone' (input)="formMessage.controls['phone'].setValue(functions.formatOnlyNumber(formMessage.value.phone))">

            <div class="error-form" *ngIf="formMessage.controls['message'].errors && formMessageSend">Mensaje requerido!</div>
            <textarea cols="10" class="form-control" placeholder="Mensaje" formControlName='message'></textarea>
            <mat-checkbox formControlName="copy" color="primary">Enviarme un copia</mat-checkbox>
            <button class="btn btn-primary btn-block" type="submit">Enviar Mail</button>
            <br>
        </form> -->
    </div>

    <div class="col-12 mt-4 mb-3">
        <div class="row justify-content-sm-center">

            <div class="col-12 col-sm-10 col-lg-4 specs-col">
                <div class="box testNew">
                    <p class="text-center"><span class="badge badge-pill badge-secondary text-center">Especificaciones:</span></p>

                    <div class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-calendar-alt"></i>&nbsp;&nbsp;<strong>Año:</strong></div>
                        <div class="col-6 description">{{pub.year}}</div>
                    </div>
                    <div class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-tachometer-alt"></i>&nbsp;&nbsp;<strong> Kilómetraje: </strong></div>
                        <div class="col-6 description"> {{pub.mileage|mileageplus}} </div>
                    </div>
                    <div *ngIf='pub.version != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-eye"></i>&nbsp;&nbsp;<strong> Version: </strong></div>
                        <div class="col-6 description"> {{pub.version}} </div>
                    </div>
                    <div *ngIf='pub.displacement != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-tools"></i>&nbsp;&nbsp;<strong> Cilindrada: </strong></div>
                        <div class="col-6 description"> {{pub.displacement}} </div>
                    </div>
                    <div *ngIf='pub.hp != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-wrench"></i>&nbsp;&nbsp;<strong> Hp: </strong></div>
                        <div class="col-6 description"> {{pub.hp}} </div>
                    </div>
                    <div *ngIf='pub.color != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-palette"></i>&nbsp;&nbsp;<strong> Color: </strong></div>
                        <div class="col-6 description"> {{pub.color}} </div>
                    </div>
                    <!-- Combos-->
                    <div *ngIf='pub.gas != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-gas-pump"></i>&nbsp;&nbsp;<strong>Combustible:</strong></div>
                        <div class="col-6 description">{{pub.gas|gasplus}}</div>
                    </div>
                    <div *ngIf='pub.traction != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-cogs">&nbsp;&nbsp;</i><strong>Traccion:</strong></div>
                        <div class="col-6 description">{{pub.traction|tractionplus}}</div>
                    </div>
                    <div *ngIf='pub.airbag != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-wind"></i>&nbsp;&nbsp;<strong>Airbag:</strong></div>
                        <div class="col-6 description">{{pub.airbag|airbagplus}}</div>
                    </div>
                    <div *ngIf='pub.doors != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-door-open"></i>&nbsp;&nbsp;<strong>Puertas:</strong></div>
                        <div class="col-6 description">{{pub.doors|doorsplus}}</div>
                    </div>
                    <div *ngIf='pub.roof != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-air-freshener"></i>&nbsp;&nbsp;<strong>Techo:</strong></div>
                        <div class="col-6 description">{{pub.roof|roofplus}}</div>
                    </div>
                    <div *ngIf='pub.num_owners != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-users"></i>&nbsp;&nbsp;<strong>Dueños:</strong></div>
                        <div class="col-6 description"> {{pub.num_owners|numOwnersplus}}</div>
                    </div>
                    <div *ngIf='pub.transmission != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-cog"></i>&nbsp;&nbsp;<strong>Transmisión:</strong></div>
                        <div class="col-6 description">{{pub.transmission|transmissionPlus}}</div>
                    </div>
                    <div *ngIf='pub.bodywork != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-car"></i>&nbsp;&nbsp;<strong>Tipo de vehículo:</strong></div>
                        <div class="col-6 description">{{pub.bodywork|bodyworkplus}}</div>
                    </div>
                    <div *ngIf='pub.direction != null' class="row">
                        <div class="col-6 description text-left"><i class="icon fas fa-arrows-alt-h"></i>&nbsp;&nbsp;<strong>Direccion:</strong></div>
                        <div class="col-6 description">{{pub.direction|directionplus}}</div>
                    </div>    
                </div>
            </div>

            <div class="col-12 col-sm-10 col-lg-4 accesories-col">
                <div class="box">
                    <p class="text-center"><span class="badge badge-pill badge-info">Accesorios:</span></p>
                    <p class="description" *ngIf='pub.up_glasses != null'><i class="fas fa-check"></i> Alza vidrios elect 4 puertas</p>
                    <p class="description" *ngIf='pub.mirrors != null'><i class="fas fa-check"></i> Espejos electricos</p>
                    <p class="description" *ngIf='pub.close_door != null'><i class="fas fa-check"></i> Cierre centralizado</p>
                    <p class="description" *ngIf='pub.air != null'><i class="fas fa-check"></i> Aire acondicionado </p>
                    <p class="description" *ngIf='pub.air != null'><i class="fas fa-check"></i> Climatizador </p>
                    <p class="description" *ngIf='pub.abs != null'><i class="fas fa-check"></i> Frenos ABS </p>
                    <p class="description" *ngIf='pub.radio != null'><i class="fas fa-check"></i> Radio de fabrica</p>
                    <p class="description" *ngIf='pub.tires != null'><i class="fas fa-check"></i> Llantas </p>
                    <p class="description" *ngIf='pub.maintenance_agency != null'><i class="fas fa-check"></i> Mantenciones en la marca </p>
                    <p class="description" *ngIf='pub.debt != null'><i class="fas fa-check"></i> Prendado </p>
                    <p class="description" *ngIf='pub.changeable != null'><i class="fas fa-check"></i> Permuto </p>    
                </div>
            </div>

            <div class="col-12 col-sm-10 col-lg-4 ">
                <div class="box">
                    <p class="text-center"><span class="badge badge-pill badge-primary">Descripcion:</span></p>
                    <p class="description pub-description" *ngIf='pub.description != null'>{{pub.description}}</p>
                    <p class="description" *ngIf='pub.description == null'>El Vendedor no coloco descripcion del vehiculo.</p>    
                </div>
            </div>

        </div>
        
    </div>

</div>