.pd-0{
    padding: 0px;
}

.row-title{
    margin-top: 10px;
    margin-bottom: 20px;
}

.col-title{
    margin-bottom: 10px;    
}

.col-btn{
    margin-bottom: 15px;
}

.close-modal {
    position: relative;
    z-index: 999;
    left: 100%;
    top: -19px;
}

/*********************** Botones ***********************************/

.fa-whatsapp{
    font-size: 14px;
}

.fa-dollar{
    font-size: 14px;
}

.fa-phone-volume{
    font-size: 14px;
}

.botonRapido {
    font-size: 12px;
    letter-spacing: 2px;
    background-image: linear-gradient( rgba(255, 166, 0, 0.5), orange, rgba(255, 166, 0, 0.5));
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 3px 2px orange;
}

.botonRapido:hover {
    background-color: orange;
    color: white;
    box-shadow: 0px 0px 3px 2px white;
}

.whatsapp-btn {
    font-size: 12px;
    letter-spacing: 2px;
    background-image: linear-gradient( rgba(19, 203, 68, .5), green, rgba(19, 203, 68, .5));
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 3px 2px green;
}

.whatsapp-btn:hover {
    background-color: green;
    color: white;
    box-shadow: 0px 0px 3px 2px white;
}

.offer-btn {
    font-size: 12px;
    letter-spacing: 2px;
    background-image: linear-gradient( rgba(0, 82, 150, .5), rgb(0, 82, 150), rgba(0, 82, 150, .5));
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 3px 2px rgb(0, 82, 150);
}

.offer-btn:hover {
    background-color: rgb(0, 82, 150);
    color: white;
    box-shadow: 0px 0px 3px 2px white;
}

/******************** Accesorios *************************/

.description{
    margin-bottom: 0.5rem;
    font-family: Roboto;
    color: #6C7579!important;
}

.fa-check{
    font-size: 12px;
    padding-right: 4px;
    color: green;
}

/******************** publicacion *************************/

.info-pb{
    margin-bottom: 0.5rem;
}

.badge{
    padding: 6px;
    /* font-size: 8px; */
    letter-spacing: 2px;
}

.icon{
    font-size: 14px;
    color: rgba(0, 82, 150, 1);
}

.box{
    border: 1px solid silver;
    margin-bottom: 10px;
    padding: 15px;
    /*margin-left: auto;
    margin-right: auto;*/
}

.box-shadow{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.icon_dollar{
    color: green;
    font-size: 16px;
}

#offer_input{
    padding-left: 8px;
    letter-spacing: 1.5px;
    width: 80%;
    height: 25px;
    font-family: Roboto !important;
    font-size: 12px !important;
    color: #6C7579!important;
}

.pub-description{
    line-height: 1.75rem;
}

@media screen and (min-width: 960px){

    .specs-col{
        padding: 0px;
    }
    
    .accesories-col{
        padding-right: 0px;
    }
    
}

@media screen and (max-width: 540px){
    
    .pub-description{
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .big-data .col-7 {
        font-size: 1.1rem;
    }
}

.testNew>div {
    text-align: right;
}

.testNew>div strong {
    text-align: left;
}

.count-photos {
    position: absolute;
    bottom: 0;
    background: rgba(222, 222, 222, 0.733);
    padding: 2.5px 5px;
    border-radius: 2px;
    margin-bottom: 3px;
    margin-left: 3px;
    text-transform: none;
}