.close-modal{
    position: relative;
    z-index: 999;
    left: 100%;
    top: -19px;
}
.botonRapido{
    background-image: linear-gradient( rgba(255, 166, 0, 0.5), orange , rgba(255, 166, 0, 0.5));
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 3px 2px orange;
}
    
.botonRapido:hover{
    background-color: orange;
    color: white;
    box-shadow: 0px 0px 3px 2px white;
}
@media (max-width: 400px) { 
    .big-data .col-7{
        font-size: 3vw; 
    }
}