<a href="javascript:void(0);" class="close-modal" (click)="onNoClick()"><i class="fa">&#xf00d;</i></a>
<div class="row">
    <div class="col-sm-8">
        <div id="pub{{pub.id}}big" class="carousel slide delimit-img" data-ride="carousel">
            <div class="carousel-inner">
                <ng-container *ngFor="let photo of pub.photos; let i = index;">
                    <div class="carousel-item container-img active" *ngIf="i==0">
                        <img class="mx-auto d-block showcase-img" src="{{photo.route}}" alt="">
                    </div>
                    <div class="carousel-item container-img" *ngIf="i!==0">
                        <img class="mx-auto d-block showcase-img" src="{{photo.route}}" alt="">
                    </div>
                </ng-container>
            </div>
            <a class="carousel-control-prev" href="#pub{{pub.id}}big" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#pub{{pub.id}}big" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="big-data row">
            <div class="col-7">
                {{pub.brandsString}} {{pub.modelsString}}
            </div>
            <div class="col-5" style="text-align:right">
                {{pub.price | currencyplus }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div><strong>Pulicado:</strong> {{pub.created_at|dateplus}}</div>
                <div><strong>Año:</strong> {{pub.year}}</div>
                <div><strong>Kilómetraje:</strong> {{pub.mileage|mileageplus}}</div>
                <div *ngIf='pub.patent != null'><strong>      Patente:</strong> {{pub.patent}}</div>
                <div *ngIf='pub.version != null'><strong>     Version:</strong> {{pub.version}}</div>
                <div *ngIf='pub.displacement != null'><strong>Cilindrada:</strong> {{pub.displacement}}</div>
                <div *ngIf='pub.hp != null'><strong>          Hp:</strong> {{pub.hp}}</div>
                <div *ngIf='pub.color != null'><strong>       Color:</strong> {{pub.color}}</div>
                <!-- Combos-->
                <div *ngIf='pub.gas != null'><strong>         Combustible:</strong> {{pub.gas|gasplus}}</div>
                <div *ngIf='pub.traction != null'><strong>    Traccion:</strong> {{pub.traction|tractionplus}}</div>
                <div *ngIf='pub.airbag != null'><strong>      Airbag:</strong> {{pub.airbag|airbagplus}}</div>
                <div *ngIf='pub.doors != null'><strong>       Puertas:</strong> {{pub.doors|doorsplus}}</div>
                <div *ngIf='pub.roof != null'><strong>        Techo:</strong> {{pub.roof|roofplus}}</div>
                <div *ngIf='pub.num_owners != null'><strong>  Dueños:</strong> {{pub.num_owners|numOwnersplus}}</div>
                <div *ngIf='pub.transmission != null'><strong>Transmisión:</strong> {{pub.transmission|transmissionPlus}}</div>
                <div *ngIf='pub.bodywork != null'><strong>    Tipo de vehículo:</strong> {{pub.bodywork|bodyworkplus}}</div>
                <div *ngIf='pub.direction != null'><strong>   Direccion:</strong> {{pub.direction|directionplus}}</div>
                <!-- ADICIONALES-->
                <br>
                <div *ngIf='pub.up_glasses != null'> Alza vidrios elect 4 puertas</div>
                <div *ngIf='pub.mirrors != null'> Espejos electricos</div>
                <div *ngIf='pub.close_door != null'> Cierre centralizado</div>
                <div *ngIf='pub.air != null'> Aire acondicionado </div>
                <div *ngIf='pub.air != null'> Climatizador </div>
                <div *ngIf='pub.abs != null'> Frenos ABS </div>
                <div *ngIf='pub.radio != null'> Radio de fabrica</div>
                <div *ngIf='pub.tires != null'> Llantas </div>
                <div *ngIf='pub.maintenance_agency != null'> Mantenciones en la marca </div>
                <div *ngIf='pub.debt != null'> Prendado </div>
                <div *ngIf='pub.changeable != null'> Permuto </div>
            </div>
            <div class="col-lg-6">
                <div *ngIf='pub.description != null'><strong> Descripcion:</strong> {{pub.description}}</div>
            </div>
            <div class="col-lg-6">
                <strong> Contacto:</strong>
                <div><strong> Nombre:</strong> {{pub.name_pub}}</div>
                <div><strong> Comuna:</strong> {{pub.commune}}</div>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-block botonRapido" href="tel:+56{{pub.phone_pub}}"><i class="fa fa-phone"></i> +56{{pub.phone_pub}}</a>
        </div>
        <br>
        <div>
            <form [formGroup]='formMessage' (ngSubmit)='sendMessage()'>
                <div class="error-form" *ngIf="formMessage.controls['name'].errors && formMessageSend">Nombre requerido!</div>
                <input type="text" class="form-control" placeholder="Nombre" formControlName='name' (input)="formMessage.controls.name.setValue(functions.formatToUppercase(formMessage.value.name))">

                <div class="error-form" *ngIf="formMessage.controls['email'].errors && formMessageSend">Email requerido!</div>
                <input type="text" class="form-control" placeholder="Email" formControlName='email' (input)="formMessage.controls.email.setValue(functions.formatToUppercase(formMessage.value.email))">

                <div class="error-form" *ngIf="formMessage.controls['phone'].errors && formMessageSend">Telefono requerido!</div>
                <input type="text" class="form-control" placeholder="Telefono" formControlName='phone' (input)="formMessage.controls.phone.setValue(functions.formatOnlyNumber(formMessage.value.phone))">

                <div class="error-form" *ngIf="formMessage.controls['message'].errors && formMessageSend">Mensaje requerido!</div>
                <textarea cols="10" class="form-control" placeholder="Mensaje" formControlName='message'></textarea>
                <mat-checkbox formControlName="copy" color="primary">Enviarme un copia</mat-checkbox>
                <button class="btn btn-primary btn-block" type="submit">Enviar Mail</button>
            </form>
        </div>
    </div>
</div>