<div class="footer text-center"><br><br>
    <div class="text-center">
        <a routerLink="/about-us">Nosotros</a>
    </div>
    <div class="text-center">
        <a routerLink="/terms-and-conditions">Terminos y condiciones</a>
        <!-- <a routerLink="/faq">Terminos y condiciones</a> -->
    </div>
    <br>
    <div class="reds">
        <a href="https://www.facebook.com/easyautoschile" target="_black"><img src="assets/images/redes/facebook.svg" alt=""></a>
        <a href="https://twitter.com/easyautochile" target="_black"><img src="assets/images/redes/logo-de-twitter.svg" alt=""></a>
        <a href="https://www.instagram.com/easyautochile/" target="_black"><img src="assets/images/redes/instagram.svg" alt=""></a>
        <a href="https://www.youtube.com/channel/UC6YsMo-obVdx5KzcSMA-Kbw" target="_black"><img src="assets/images/redes/youtube-logo.svg" alt=""></a>
    </div>
    <br>
    <div class="text-center" style="text-transform: none;">
        contacto@easyauto.cl
    </div>
    <br>
    <div class="text-center" style="text-transform: none;">
        Providencia 1208, Of. 207, Providencia. Región Metropolitana
    </div>
    <br>
    <div class="text-center" style="text-transform: none;">
        CopyRight © 2019 Digital All Rights Reserved
        <br> www.easyauto.cl
    </div>
</div>
