a{
    color: white;
}
.row{
    margin: 0 !important;
}
.row div{
    padding: 0 !important;
}
.footer{
    background: rgba(0, 82, 150, 1);
    padding: 30px 0px;
    height: auto;
    color:white;
    font-size: 1em;
    
}
.reds img{
    width: 25px;
    margin: 0 5px;
    cursor: pointer;
}