<form [formGroup]="FormRegister" (ngSubmit)="register()" novalidate>
  <div class="row justify-content-center"  style="margin-top:30px;">
    {{TextMenu[DB.lang].title | uppercase}}
  </div>
  <div class="row justify-content-center" >
    <div class="form-group has-feedback col-12">
      <input type="text" class="form-control input-search"  placeholder="{{TextMenu[DB.lang].name}}" formControlName="name"> 
      <div *ngIf="FormRegister.get('name').errors && FormRegister.get('name').dirty" class="error-form">
        <label *ngIf="FormRegister.get('name').hasError('required')">{{TextMenu[DB.lang].vname}}</label>
      </div>
    </div>

    <div class="form-group has-feedback col-12">
      <input type="email" class="form-control input-search"  placeholder="{{TextMenu[DB.lang].vemail3}}" formControlName="email"> 
      <div *ngIf="FormRegister.get('email').errors && FormRegister.get('email').dirty" class="error-form">
        <label *ngIf="FormRegister.get('email').hasError('email')">{{TextMenu[DB.lang].vemail}}</label>
        <label *ngIf="FormRegister.get('email').hasError('required')">{{TextMenu[DB.lang].vemail2}}</label>
      </div>
    </div>

    <div class="form-group has-feedback col-12">
      <input type="password" class="form-control input-search" (keyup)="KeyUpValidator()" placeholder="{{TextMenu[DB.lang].vpassword1}}" formControlName="password"> 
      <div *ngIf="FormRegister.get('password').errors && FormRegister.get('password').dirty" class="error-form">
        <label *ngIf="FormRegister.get('password').hasError('required')">{{TextMenu[DB.lang].vpassword12}}</label>
      </div>
    </div>

    <div class="form-group has-feedback col-12">
      <input type="password" class="form-control input-search" (keyup.enter)="register()" (keyup)="KeyUpValidator()" placeholder="{{TextMenu[DB.lang].vpassword2}}" formControlName="password2"> 
      <div *ngIf="FormRegister.get('password2').errors && FormRegister.get('password2').dirty" class="error-form">
        <label *ngIf="FormRegister.get('password2').hasError('required')">{{TextMenu[DB.lang].vpassword22}}</label>
      </div>
      <div *ngIf="FormRegister.get('password').value !== FormRegister.get('password2').value" class="error-form">
        <label>{{TextMenu[DB.lang].validator_password_same}}</label>
      </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary input-search form-control " [disabled]="FormRegister.invalid || ActivatorButton">{{TextMenu[DB.lang].button}}</button>
    </div>
  </div>
</form>