
      <!-- PROFILE -->
      <form [formGroup]="FormRegister" (ngSubmit)="UpdateUser()" novalidate>
        <div class="row justify-content-center">Perfil de usuario</div>
        <div class="row justify-content-md-center" >
            <div class="form-group has-feedback col-sm-6">
              <input type="text" class="form-control input-search"  placeholder="{{TextMenu[DB.lang].name}}" formControlName="name"> 
              <div *ngIf="FormRegister.get('name').errors && FormRegister.get('name').dirty" class="error-form">
                <label *ngIf="FormRegister.get('name').hasError('required')">{{TextMenu[DB.lang].vname}}</label>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center" >
            <div class="form-group has-feedback col-sm-6">
              <input type="text" class="form-control input-search"  placeholder="{{TextMenu[DB.lang].lastname1}}" formControlName="lastname1"> 
            </div>
          </div>
          <div class="row justify-content-md-center" >
            <div class="form-group has-feedback col-sm-6">
              <input type="text" class="form-control input-search"  placeholder="{{TextMenu[DB.lang].lastname2}}" formControlName="lastname2"> 
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="form-group has-feedback col-sm-6">
              <input type="text" class="form-control input-search" maxlength="12" placeholder="{{TextMenu[DB.lang].rut}}" formControlName="rut" > 
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="form-group has-feedback col-sm-6">
              <input type="date" class="form-control input-search"  placeholder="{{TextMenu[DB.lang].birthdate}}" formControlName="birthdate"> 
            </div>
          </div>
          <div class="row justify-content-md-center" >
            <div class="form-group has-feedback col-sm-6">
              <input type="email" class="form-control input-search"  placeholder="{{TextMenu[DB.lang].vemail3}}" formControlName="email" readonly> 
              <div *ngIf="FormRegister.get('email').errors && FormRegister.get('email').dirty" class="error-form">
                <label *ngIf="FormRegister.get('email').hasError('email')">{{TextMenu[DB.lang].vemail}}</label>
                <label *ngIf="FormRegister.get('email').hasError('required')">{{TextMenu[DB.lang].vemail2}}</label>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="form-group has-feedback col-sm-6">
              <input type="text" class="form-control input-search"  placeholder="{{TextMenu[DB.lang].phone}}" formControlName="phone"> 
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="form-group has-feedback col-sm-6">
              <ng-select [items]="Regions" formControlName="regions" bindValue="id" bindLabel="name" placeholder="{{TextMenu[DB.lang].region}}"></ng-select>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="form-group has-feedback col-sm-6">
              <ng-select [items]="Citys" formControlName="city" bindValue="id" bindLabel="name" placeholder="{{TextMenu[DB.lang].city}}"></ng-select>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="form-group has-feedback col-sm-6">
              <ng-select [items]="Communes" formControlName="commune" bindValue="id" bindLabel="name" placeholder="{{TextMenu[DB.lang].commune}}"></ng-select>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary input-search form-control " [disabled]="FormRegister.invalid ">{{TextMenu[DB.lang].button}}</button>
            </div>
          </div>
        </form>