.movile{
    display: none;
}
.title-pub{
    font-size: 0.8em;
    /*
    color: white;
    background-color: rgba(1, 1, 145, 0.8);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    padding: 3px 0;*/
}
.title-pub-price{
    font-weight: bold;
    font-size: 1em;
    /*color: white;
    background-color: rgba(92, 91, 91, 0.8);
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    color: white;
    background-color: rgba(1, 1, 145, 0.8);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    padding: 3px 0;
    bottom:0px;
    position: absolute;*/
}
@media screen and (max-width: 487px){
    .title-pub{
        font-size: 0.8em;
    }
    .title-pub2{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 400px){
    .title-pub{
        font-size: 0.6em;
    }
    .title-pub2{
        font-size: 0.6em;
    }
    .desktop{
        display: none;
    }
    .movile{
        display: block;
    }
}
.aniAuto{
    transition: all 3s linear;
}

.carousel .content {
    display: flex;
}
.carousel .content .item {
    width: 100%;
    display: block;
    border:solid 1px lightgray;
}
.carousel .content .item .img {
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    height: 0;
    padding-bottom: 50%;
}

.ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff5252;
    border: 2px solid white;
    opacity: 0.5;
}
.ball.visible {
    opacity: 1;
}
    
  