<div style="border:solid 1px lightgray;margin-left: -15px;margin-right: -15px;">
    <div class="title-featured">Autos destacados</div>
    <ngx-hm-carousel [(ngModel)]="index" [show-num]="showNum" [data]="avatars" [autoplay]="true" [between-delay]="400" [autoplay-speed]="3000" [aniTime]="3000" aniClass="transition" aniClassAuto="aniAuto" class="carousel c-accent">

        <section ngx-hm-carousel-container class="content">
            <article class="item" ngx-hm-carousel-item *ngFor="let avatar of avatars; let i = index" async>
                <div class="img" (click)="OpenViewGallery(avatar?.pub)" style="cursor:pointer;position: relative;" [style.backgroundImage]="'url(http://localhost:8000'+avatar?.url+')'">
                </div>
                <div class="title-pub-price">{{avatar?.pub.price|currencyplus}}</div>
                <div class="title-pub desktop">{{avatar?.pub.brandsString}} {{avatar?.pub.modelsString}} {{avatar?.pub.year}}</div>
                <div class="title-pub movile">{{avatar?.pub.brandsString}}</div>
                <div class="title-pub movile">{{avatar?.pub.modelsString}}</div>
                <div class="title-pub movile">{{avatar?.pub.year}}</div>
            </article>
            <ng-template #infiniteContainer></ng-template>
        </section>

        <ng-template #carouselContent let-avatar let-i="index">
            <article class="item">
                <div class="img" (click)="OpenViewGallery(avatar?.pub)" style="cursor:pointer;position: relative;" [style.backgroundImage]="'url(http://localhost:8000'+avatar?.url+')'">
                </div>
                <div class="title-pub-price">{{avatar?.pub.price|currencyplus}}</div>
                <div class="title-pub desktop">{{avatar?.pub.brandsString}} {{avatar?.pub.modelsString}} {{avatar?.pub.year}}</div>
                <div class="title-pub movile">{{avatar?.pub.brandsString}}</div>
                <div class="title-pub movile">{{avatar?.pub.modelsString}}</div>
                <div class="title-pub movile">{{avatar?.pub.year}}</div>
            </article>
        </ng-template>

        <!-- only using in infinite mode or autoplay mode, that will render with   [ngClass]="{'visible': currentIndex===i}"-->
        <ng-template #carouselContent let-avatar let-i="index">
            <article class="item">
                <div class="img" [style.backgroundImage]="'url(http://localhost:8000'+avatar?.url+')'">
                    {{i}}
                </div>
            </article>
        </ng-template>

        <ng-template #carouselPrev>
            <div class="click-area">
                <i class="material-icons" style="color:white">
            arrow_back_ios
          </i>
            </div>
        </ng-template>
        <ng-template #carouselNext>
            <div class="click-area">
                <i class="material-icons" style="color:white">
            arrow_forward_ios
          </i>
            </div>
        </ng-template>
        <!--
    <ng-template #carouselDot let-model>
      <div class="ball bg-accent"
        [class.visible]="model.index === model.currentIndex"></div>
    </ng-template>

    <ng-template #carouselProgress let-progress>
      <div class="progress"></div>
    </ng-template>
  -->
    </ngx-hm-carousel>
</div>
