<div style="padding: 20px 0">
    <h3 class="text-center">
        Aumenta tus posibilidades de vender tu auto con nuestros paquetes
    </h3>
    <br>
    <div class="row box-shadow hvr-grow" *ngFor="let item of DataBaseService.Options; let i = 'index';">

        <div class="col-md-9 col-12">
            <div class="row pack-title">
                <div class="col-md-1 col-12 align-self-center text-center medal-col">
                    <i [class.medal-1]="i=='0'" [class.medal-2]="i=='1'" [class.medal-3]="i=='2'" class="fas fa-medal medal"></i>
                </div>
                <div class="col-md-11 col-12 no-padding align-self-center title-col">
                    <p [class.text-primary]="i=='2'" [class.text-secondary]="i!='2'" class="title">
                        {{item.title}}
                    </p>
                    <!-- <span class="badge badge-pill badge-secondary" *ngIf="item.last_amount>0">
                        Antes {{item.last_amount | currencyplus}}
                    </span>  -->

                </div>
            </div>            
            <!-- <h5> -->
                <!-- <i [class.medal-1]="i=='0'" [class.medal-2]="i=='1'" [class.medal-3]="i=='2'" class="fas fa-medal"></i> {{item.title}}
                <span class="badge badge-pill badge-secondary" *ngIf="item.last_amount>0">
                    Antes {{item.last_amount | currencyplus}}
                </span> -->
                <!-- <div *ngIf="item.last_amount>0">Antes {{item.last_amount | currencyplus}}</div> -->
            <!-- </h5> -->
            <ng-container *ngFor="let item2 of DataBaseService.Options[i].sub_options">
                <div class="row">
                    <div class="col-1 align-self-center text-center check-col">
                        <i class="fas fa-check"></i>
                    </div>
                    <div class="col-11 no-padding align-self-center text-left">
                        <p class="text-muted description">{{item2.subtitle}}</p>
                    </div>
                </div>
                <!-- <p><i class="material-icons">check</i> {{item2.subtitle}}</p> -->
            </ng-container>
        </div>

        <div class="col-md-3 col-12 align-self-center package-price">
            <!-- <form class="form"> -->
                <!-- <div class="inputGroup"> -->
                    <mat-radio-button [value]="item" (change)="sumatory($event)" labelPosition="before" color="primary">{{item.amount | currencyplus}}</mat-radio-button>
                <!-- </div> -->
            <!-- </form> -->
        </div>
    </div>
    <br>
    <div class="col-6 offset-3"> <button class=" btn btn-block btn-lg btn-primary paidBtn" (click)="GeneratePay()">Total a pagar: {{total | currencyplus}}</button></div>
</div>