.title{
  font-weight: bolder;
  font-size: 14px;
  margin-left: 12px;
}

.description{
  /*line-height: 14px;*/
  padding-bottom: 4px;
}

.check-col{
  padding-bottom: 10px;
}

.no-padding{
    padding: 0px;
}

.no-margin{
    margin: 0px;
}

.box-shadow{
    cursor: pointer;
    margin: auto auto 25px auto;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(128,128,128,.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(128,128,128,.75);
    box-shadow: 10px 10px 5px 0px rgba(128,128,128,.75);
}

.fa-medal{
    font-size: xx-large;
    /*padding: 25px;*/
}

.medal-1{
    color: #D2691E;
}
.medal-2{
    color: #808080;
}
.medal-3{
    color: #DAA520;
}

.fa-check{
    color: green;
    /*padding: 0px 1rem 1rem 1rem;*/
}

@media only screen and (min-width: 980px) {
    
   .package-price{
      text-align: right;
   }

   .title-col{
    text-align: left;
   }

   .pack-title{
       margin-bottom: 20px;
   }
}

@media screen and (min-width:760px) and (max-width:980px){

  .title{
    margin-left: 10px;
  }

  .medal-col{
    padding: 0px;
  }

  
  .pack-title{
      margin-bottom: 10px;
  }

  .description{
    font-size: 10px;
    margin-left: 8px;
    margin-bottom: 6px;
  }

  .fa-check{
   padding-bottom: 8px;
  }

  .check-col{
    padding: 0px;
  }

}

@media only screen and (max-width: 760px) {
    

    .title-col{
     text-align: center;
    }

    .pack-title{
       margin-bottom: 0px;
    }

    .title{
        margin: 20px 0px !important;
        font-size: 12px;
        margin: 0px;
    }

    .description{
      font-size: 10px;
      margin-left: 8px;
      margin-bottom: 8px;
      padding: 0px;
    }

    .check-col{
      padding: 0px;
    }

    .medal{
      font-size: 40px;
    }

    .package-price{
        text-align: center;
        margin-top: 10px;
    }

    .fa-check{
     margin-bottom: 4px;
    }

    h3{
      font-size: 14px;
      font-weight: bolder;
    }

    .paidBtn{
        font-size: 1rem !important;
    }
}

