<div style="text-align: justify;padding: 10px 0;">
    <h4 class="text-center" style="font-weight: bold">Nosotros</h4>
    <h6>Iniciamos</h6> <br> Easy Auto de capitales privados inicia sus operaciones en 2015 como plataforma estratégica prestando servicios tecnológicos dentro de automotoras, dealer y representantes de marca con su sistema vende fácil.
    <br><br>
    <h6>Actualmente</h6> <br> Trabajamos en el desarrollo de soluciones para satisfacer la gran demanda tecnológica del mercado de compra, venta y renovación automotriz.
    <br><br>
    <h6>Nuestro Capital Humano</h6> <br> Contamos con un selecto equipo en las áreas de: <br> Multiplatform Applications Development <br> Graphic Design and Digital Marketing <br> User experience <br> Customer Support <br> Sales and loyalty executives
    <br> Customer Portfolio Administrators <br> Post sale and computer support <br> Automotive broker <br> Financial broker <br>
    <br> <br>
    <h6>Nuestro Equipo Gerencial</h6> <br> Se compone por profesionales con un enfoque de innovación, con años de trayectoria en puestos estratégicos tanto dentro del rubro automotriz como de empresas asociadas a este. <br>
    <br> <br>
    <h6>Misión</h6> <br> Simplificar la operación de automotoras y clientes para las próximas décadas en que la tecnología será el principal referente de todos los procesos del rubro. <br>
    <br> <br>
    <h6>Visión</h6> <br> Ser la plataforma que une a empresas y usuarios con la mejor experiencia en renovación automotriz en Latinoamérica. <br>
</div>
<br>
<div style="text-align: justify;padding-bottom: 10px;">
    Razón Social: Grupo Easy SpA
    <br> Rut: 76.687.356-1
    <br> Dirección: Providencia 1208, Of. 207, Providencia. Región Metropolitana
    <br> Solicitudes y contacto telefónico: <a href="mailto:contacto@easyauto.cl">contacto@easyauto.cl</a>
</div>