.div_checkbox label {
    padding: 0 5px;
}

.div_checkbox input {
    display: inline-block;
    vertical-align: middle;
}

.div_checkbox {
    height: 20px;
}

.inputs {
    margin: 7px 0;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: black !important;
}

.custom-file-label {
    color: black !important;
}

.btn-h {
    height: 32px;
}

.eliminar {
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    color: red;
    right: 0;
}

.eliminar i {
    font-size: 20px;
}

.sell-form {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

html /deep/.img-conteiner {
    position: absolute;
    width: auto;
    height: auto;
}

.prefix {
    position: relative;
    height: 29px;
}

.prefix label {
    position: absolute;
    left: 10px;
    top: 6px;
    color: rgb(0, 0, 0);
    z-index: 1;
}

.prefix input {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 35px;
}

.custom-file-label::after {
    content: "Adjuntar";
}