<!-- <div class="sell-form"></div>

<form [formGroup]="FormPublications">

</form> -->

<mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="FormPublications">
        <form [formGroup]="FormPublications">
            <ng-template matStepLabel>Datos del vehículo:</ng-template>
            <div class="row">
                <div class="col-sm-4" style="margin-top:5px;">

                    <div class="inputs">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" accept='image/*' (change)="Upload_Image($event)" multiple>
                            <div id="img-buffer" style="display:none"></div>
                            <label class="custom-file-label" for="customFile">IMAGENES</label>
                        </div>
                    </div>
                    <div class="row" style="margin:0px;padding:0px;background-color: whitesmoke;">
                        <div class="images_upload col-6 col-sm-4" *ngFor="let Image of ArrayImages; let i = 'index';" (click)="setImageToMain(i)" [ngStyle]="{'background-image': 'url('+Image.src+')','height': '50px','background-position': 'center', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
                            <!-- <img src="{{Image.src}}" title=""> -->
                            <div class="title-image" *ngIf="Image.main">principal</div>
                            <mat-progress-bar *ngIf="Image.loading" mode="query"></mat-progress-bar>
                            <span *ngIf="Image.valid" class="eliminar" (click)="DeleteImage(i)"><i class="material-icons">delete_forever</i></span>
                        </div>
                    </div>
                    <div style="font-size: 0.8rem">
                        Selecciona la imagen de portada dando click en la foto
                    </div>
                    <hr>
                    <span style="font-size:10px;color:red;text-transform: capitalize;">Campos Obligatorios *</span>
                    <div class="inputs">
                        <input type="hidden" formControlName="id">
                        <ng-select [items]="ComboBrands" #brand formControlName="brand" bindValue="id" bindLabel="description" placeholder="MARCA *" (change)="Search_Models()" [ngClass]="{'input-error': FormPublications.controls.brand.errors && form1}"></ng-select>
                    </div>
                    <div class="inputs">
                        <ng-select [items]="ComboModels" #model formControlName="model" bindValue="id" bindLabel="description" placeholder="MODELO *" [ngClass]="{'input-error': FormPublications.controls.model.errors && form1}"></ng-select>
                    </div>
                    <div class="inputs">
                        <input type="text" formControlName="version" class="form-control" placeholder="VERSIÓN" (input)="FormPublications.controls['version'].setValue(functions.formatToUppercase(FormPublications.value.version))">
                    </div>
                    <div *ngIf=false>
                        <ng-select [items]="ComboType" formControlName="type_publications" bindValue="id" bindLabel="descriptionFull" placeholder="SELECCIONE TIPO"></ng-select>
                    </div>
                    <div class="inputs">
                        <input #mileage type="text" formControlName="mileage" class="form-control" placeholder="KILOMETRAJE *" (input)="FormPublications.controls['mileage'].setValue(functions.formatOnlyNumber(FormPublications.value.mileage))" [ngClass]="{'input-error': FormPublications.controls.mileage.errors && form1}">
                    </div>
                    <div class="inputs">
                        <input #price type="text" formControlName="price" class="form-control" placeholder="PRECIO *" (input)="FormPublications.controls['price'].setValue(functions.formatNumberToAmount(FormPublications.value.price))" [ngClass]="{'input-error': FormPublications.controls.price.errors && form1}">
                    </div>
                    <div class="inputs">
                        <ng-select #year [items]="AppValues.Year" formControlName="year" bindValue="id" bindLabel="name" placeholder="AÑO *" [ngClass]="{'input-error': FormPublications.controls.year.errors && form1}"></ng-select>
                    </div>
                    <div class="inputs">
                        <input #patent type="text" formControlName="patent" class="form-control" placeholder="PATENTE *" maxlength="8" (input)="FormPublications.controls['patent'].setValue(functions.formatToUppercase(FormPublications.value.patent))" [ngClass]="{'input-error': FormPublications.controls.patent.errors && form1}">
                    </div>
                    <div class="inputs">
                        <ng-select [items]="AppValues.num_owners" formControlName="num_owners" bindValue="id" bindLabel="name" placeholder="NUMERO DE DUEñOS"></ng-select>
                    </div>
                    <div class="inputs">
                        <ng-select [items]="AppValues.bodywork" formControlName="bodywork" bindValue="id" bindLabel="name" placeholder="TIPO CARROCERIA"></ng-select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="inputs">
                        <ng-select [items]="AppValues.transmission" formControlName="transmission" bindValue="id" bindLabel="name" placeholder="TRANSMISIÓN"></ng-select>
                    </div>
                    <div class="inputs">
                        <ng-select [items]="AppValues.gas" formControlName="gas" bindValue="id" bindLabel="name" placeholder="COMBUSTIBLE"></ng-select>
                    </div>
                    <div class="inputs">
                        <ng-select [items]="ComboDisplacement" formControlName="displacement" bindValue="id" bindLabel="name" placeholder="CILINDRADA"></ng-select>
                    </div>
                    <div class="inputs">
                        <input type="number" formControlName="hp" class="form-control" placeholder="POTENCIA HP" step="10" (input)="FormPublications.controls['hp'].setValue(functions.formatToUppercase(FormPublications.value.hp))">
                    </div>
                    <div class="inputs">
                        <ng-select [items]="AppValues.direction" formControlName="direction" bindValue="id" bindLabel="name" placeholder="TIPO DIRECCIÓN"></ng-select>
                    </div>
                    <div class="inputs">
                        <ng-select [items]="AppValues.roof" formControlName="roof" bindValue="id" bindLabel="name" placeholder="TIPO TECHO"></ng-select>
                    </div>
                    <div class="inputs">
                        <ng-select [items]="AppValues.doors" formControlName="doors" bindValue="id" bindLabel="name" placeholder="PUERTAS"></ng-select>
                    </div>
                    <div class="inputs">
                        <ng-select [items]="AppValues.airbag" formControlName="airbag" bindValue="id" bindLabel="name" placeholder="AIRBAGS"></ng-select>
                    </div>
                    <div class="inputs">
                        <input type="text" formControlName="color" class="form-control" placeholder="COLOR" (input)="FormPublications.controls['color'].setValue(functions.formatToUppercase(FormPublications.value.color))">
                    </div>
                    <div class="inputs">
                        <ng-select [items]="AppValues.traction" formControlName="traction" bindValue="id" bindLabel="name" placeholder="TRACCIÓN"></ng-select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="div_checkbox">
                        <mat-checkbox formControlName="up_glasses" color="primary">ALZA VIDRIOS ELECT 4 PUERTAS</mat-checkbox>
                    </div>
                    <div class="div_checkbox">
                        <mat-checkbox formControlName="mirrors" color="primary">ESPEJOS ELECTRICOS</mat-checkbox>
                    </div>
                    <div class="div_checkbox">
                        <mat-checkbox formControlName="close_door" color="primary">CIERRE CENTRALIZADO</mat-checkbox>
                    </div>
                    <div class="div_checkbox">
                        <mat-checkbox formControlName="air" color="primary">AIRE ACONDICIONADO</mat-checkbox>
                    </div>
                    <div class="div_checkbox">
                        <mat-checkbox formControlName="weather" color="primary">CLIMATIZADOR</mat-checkbox>
                    </div>
                    <div class="div_checkbox">
                        <mat-checkbox formControlName="abs" color="primary">FRENOS ABS</mat-checkbox>
                    </div>
                    <div class="div_checkbox">
                        <mat-checkbox formControlName="radio" color="primary">RADIO DE FÁBRICA</mat-checkbox>
                    </div>
                    <div class="div_checkbox">
                        <mat-checkbox formControlName="tires" color="primary">LLANTAS</mat-checkbox>
                    </div>
                    <div class="div_checkbox">
                        <mat-checkbox formControlName="maintenance_agency" color="primary">MANTENCIONES EN LA MARCA</mat-checkbox>
                    </div>
                    <div class="div_checkbox">
                        <mat-checkbox formControlName="debt" color="primary">CON PRENDA</mat-checkbox>
                    </div>
                    <div class="div_checkbox">
                        <mat-checkbox formControlName="changeable" color="primary">PERMUTO</mat-checkbox>
                    </div>

                    <div style="margin-top: 5px;">
                        <textarea formControlName="description" class="form-control" cols="20" rows="5" placeholder="DESCRIPCIÓN" (input)="FormPublications.controls['description'].setValue(functions.formatToUppercase(FormPublications.value.description))"></textarea>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <button mat-stroked-button color="primary" (click)="validateForm(FormPublications,1);validateFormGroup(FormPublications);" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="FormPublications2">
        <form [formGroup]="FormPublications2">
            <ng-template matStepLabel>Datos personales:</ng-template>
            <!-- <div class="inputs">
                <input type="text" formControlName="name_owner" class="form-control" placeholder="NOMBRE" [ngClass]="{'input-error': FormPublications2.controls.name_pub.errors}" (input)="FormPublications2.controls.name_owner.setValue(functions.formatToUppercase(FormPublications2.value.name_owner))">
            </div>
            <div class="inputs">
                <input type="text" formControlName="rut_owner" class="form-control" placeholder="RUT" maxlength="12" [ngClass]="{'input-error': FormPublications2.controls.rut_pub.errors}" (input)="FormPublications2.controls.rut_owner.setValue(functions.formatRut(FormPublications2.value.rut_owner))">
            </div>
            Datos de vendedor -->
            <div class="inputs">
                <ng-select [items]="Regions" formControlName="regions" bindValue="id" bindLabel="name" placeholder="REGIÓN" [ngClass]="{'input-error': FormPublications2.controls.regions.errors && form2}"></ng-select>
            </div>
            <div class="inputs">
                <input type="text" formControlName="commune" class="form-control" placeholder="COMUNA" (input)="FormPublications2.controls['commune'].setValue(functions.formatToUppercase(FormPublications2.value.commune))" [ngClass]="{'input-error': FormPublications2.controls.commune.errors && form2}">
            </div>
            <div class="inputs">
                <input type="text" formControlName="name_pub" class="form-control" placeholder="NOMBRE" (input)="FormPublications2.controls['name_pub'].setValue(functions.formatToUppercase(FormPublications2.value.name_pub))" [ngClass]="{'input-error': FormPublications2.controls.name_pub.errors && form2}">
            </div>
            <div class="inputs">
                <input type="text" formControlName="rut_pub" class="form-control" placeholder="RUT" maxlength="12" (input)="FormPublications2.controls['rut_pub'].setValue(functions.formatRut(FormPublications2.value.rut_pub))" [ngClass]="{'input-error': FormPublications2.controls.rut_pub.errors && form2}">
            </div>
            <div class="prefix">
                <label>+56 </label>
                <input type="text" formControlName="phone_pub" class="form-control" placeholder="TELEFONO" maxlength="9" (input)="FormPublications2.controls['phone_pub'].setValue(functions.formatOnlyNumber(FormPublications2.value.phone_pub))" [ngClass]="{'input-error': FormPublications2.controls.phone_pub.errors && form2}">
            </div>
            <!-- <div>
                <button mat-stroked-button color="primary" matStepperNext>Siguiente</button>
            </div> -->
            <hr>
            <div>
                <button [disabled]="loading" mat-stroked-button color="primary" *ngIf="FormPublications.value.id === null" type="button" style="margin:10px 0;text-transform: uppercase;" (click)="onSubmitFormPublications($event)">Publicar</button>
                <button [disabled]="loading" mat-stroked-button color="primary" *ngIf="FormPublications.value.id !== null" type="button" style="margin:10px 0;;text-transform: uppercase;" (click)="UpdatePublication($event)"><div *ngIf="spinner == false">Guardar y Publicar</div><div *ngIf="spinner != false" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></button>
            </div>
        </form>
    </mat-step>
    <!-- <mat-step [stepControl]="FormPublications3">
        <form [formGroup]="FormPublications3">
            <ng-template matStepLabel>Tipo de publicación:</ng-template>
            <div>
                PUBLICACION ESTANDAR: GRATIS
            </div>
            <div>
                RECIBE OFERTAS DE AUTOMOTORAS PARTNER: GRATIS
            </div>
            <div class="promotions">
                PUBLICACION PREMIUM
            </div>
            <div>
                <button mat-stroked-button color="primary" *ngIf="FormPublications.value.id === null" type="button" style="margin:10px 0;text-transform: uppercase;" (click)="onSubmitFormPublications($event)">Publicar</button>
                <button mat-stroked-button color="primary" *ngIf="FormPublications.value.id !== null" type="button" style="margin:10px 0;;text-transform: uppercase;" (click)="UpdatePublication($event)"><div *ngIf="spinner == false">Guardar y Publicar</div><div *ngIf="spinner != false" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></button>
            </div>
        </form>
    </mat-step> -->
</mat-vertical-stepper>