<br>
<h3>Mensajes para la publicacion</h3>
<div class="row">
  <div class="col-3">FECHA</div>
  <div class="col-3">EMAIL</div>
  <div class="col-3">TELEFONO</div>
  <div class="col-3">MENSAJE</div>
</div>
<div class="row" *ngFor="let msg of data.messages">
  <div class="col-3">{{msg.created_at}}</div>
  <div class="col-3">{{msg.email}}</div>
  <div class="col-3">{{msg.phone}}</div>
  <div class="col-3">{{msg.message}}</div>
</div>
<br>