* {
    text-transform: none;
}

i {
    font-size: 1.4rem;
}

.item-type p {
    padding-left: 20px;
    margin-bottom: 0;
}

.item-type h4 div {
    position: absolute;
    margin-left: 30px;
}

.item-type h4 {
    padding-bottom: 30px;
}

.config-options input {
    width: 90%;
}

.config-options {
    margin-bottom: 30px;
}

.option-main {
    padding: 20px 0;
    margin: 0px;
    overflow: hidden;
}