<mat-tab-group mat-align-tabs="center">
    <mat-tab label="ADMINISTRACION DE PUBLICACIONES">
        <ng-template matTabContent>
            <!-- ADMINISTRACION -->
            <form [formGroup]="FormPublications" novalidate>
                <table width="100%" class="table table-striped table-condensed text-center">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Auto</td>
                            <td width="100px">Foto</td>
                            <td>Tipo</td>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container formArrayName="pub" *ngFor="let publication of FormPublications.controls['pub']['controls']; let i = 'index';">
                            <tr [formGroupName]="i">
                                <td>{{FormPublications.controls['pub'].value[i].id}}<input type="hidden" formControlName="id"> <br>
                                    <i (click)="togglePub(FormPublications.controls['pub'].value[i])" *ngIf="FormPublications.controls['pub'].value[i].id_status == 1" class="material-icons" style="color:green;cursor: pointer;">check_circle_outline</i>
                                    <i (click)="togglePub(FormPublications.controls['pub'].value[i])" *ngIf="FormPublications.controls['pub'].value[i].id_status != 1" class="material-icons" style="color:red;cursor: pointer;">highlight_off</i>
                                </td>
                                <td>{{FormPublications.controls['pub'].value[i].brandsString}} {{FormPublications.controls['pub'].value[i].modelsString}} {{FormPublications.controls['pub'].value[i].year}}</td>
                                <td class="img-ini" [ngStyle]="{'background-image': 'url(//easyauto.cl/'+FormPublications.controls['pub'].value[i].photo+')'}">
                                    <td>
                                        <ng-select formControlName="type" [items]="ComboType" bindValue="id" bindLabel="description" placeholder="Tipo" (change)="UpdatePub(FormPublications.controls['pub'].value[i])"></ng-select>
                                    </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <mat-paginator (page)="changePage($event)" [length]="(ArrayPublications).length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
            </form>
        </ng-template>
    </mat-tab>
    <mat-tab label="CONFIGURACION">
        <ng-template matTabContent>
            <div class="option-main">
                <div class="row config-options" *ngFor="let item of DB.Options">
                    <div class="col-9 item-type">
                        <h4><i class="material-icons">send</i> <input type="text" [(ngModel)]="item.title">
                            <div style="width: 100%">Antes <input style="display: inline-block" type="text" [(ngModel)]="item.last_amount"></div>
                        </h4>
                        <p *ngFor="let item2 of item.sub_options">
                            <i class="material-icons">check</i> <input type="text" [(ngModel)]="item2.subtitle">
                        </p>
                    </div>
                    <div class="col-3">
                        <input type="text" [(ngModel)]="item.amount">
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary btn-block" (click)="saveOptions()">Guardar Cambios</button>
                </div>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>