ar<app-showcase-cars-eatured class="without-padding"></app-showcase-cars-eatured>
<br><br>
<div class="row">

    <div *ngFor="let pub of PublicationsSearch" class="col-md-6 col-12 hvr-grow" (click)="OpenViewGallery(pub)">

        <div class="row publication">

            <div class="col-5 align-self-center no-padding no-margin" [ngClass]="{'featured-col':pub.featureds.length>0 }">

                <div *ngIf="pub.featureds.length>0" class="box-1">
                    <div class="box-2">
                        <div class="box-3">
                            Destacado
                        </div>   
                    </div>
                </div>

                <!-- <span style="display: none" [ngClass]="{'featured': (pub.id_type_publications>=2)?true:false}">destacada</span> -->
                <!-- <div> -->
                    <img src="http://localhost:8000{{pub.photos[0]?.route}}" class="publication-img rounded" >
                  <!--   <span class="featured" *ngIf="pub.featureds.length>0" [ngStyle]="{'background': pub.featureds[0].color}">{{pub.featureds[0].name}}</span>
                    <span></span> -->
                <!-- </div> -->

            </div>

            <div class="col-7 align-self-center no-padding no-margin">

                <div class="row details-pb-row no-margin">
                    <div class="col-12 pub-title" [ngClass]="{'normal-title': pub.id_type_publications < 2, 'featured-title': pub.id_type_publications >= 2 }">
                        <h6 class="no-margin pub-title-text">{{ pub.brandsString.length <= 11 && pub.brandsString || pub.brandsString.substr(0,8) + '...'}} {{ pub.modelsString.length <= 13 && pub.modelsString || pub.modelsString.substr(0,7) + '...'}} {{pub.year}}</h6>
                    </div>
                    <div class="pb-description no-padding col-12 text-muted pb-price mt-1">
                        <span class="inner-pub-price">{{pub.price|currencyplus}}</span>
                    </div>
                    <div class="pb-description no-padding col-12 col-sm-8 col-md-12 col-lg-8 text-muted">
                        <i class="fa fa-calendar color-icon"></i>{{pub.year}}
                        <i class="fas fa-tachometer-alt  color-icon"></i>{{pub.mileage|mileageplus}} <i class="fas fa-cogs color-icon" *ngIf='pub.transmission != null'></i> {{pub.transmission|transmissionplus}}
                    </div>
                    <div class="pb-description no-padding col-12 text-muted">Region: {{SearchRegions(pub.id_regions)}}</div>
                    <div class="pb-description no-padding col-12 text-muted">Fecha: {{pub.created_at|dateplus}}</div>
                </div>
<!-- 
                <div class="search-data">Fecha: {{pub.created_at|dateplus}}</div>
                <div class="search-data">Region: {{SearchRegions(pub.id_regions)}}</div>
                <div class="search-data"><i class="fa fa-calendar color-icon"></i>{{pub.year}} <i class="fas fa-tachometer-alt  color-icon"></i>{{pub.mileage|mileageplus}} <i class="fas fa-cogs color-icon" *ngIf='pub.transmission != null'></i> {{pub.transmission|transmissionplus}}</div>
                <div class="search-data search-data-price">{{pub.price|currencyplus}}</div>
 -->
            </div>

        </div>

    </div>

</div>

<div class="text-center">
    <mat-paginator (page)="changePage($event)" [length]="(PublicationsSearchCache).length" [pageSize]="pageSize" [pageSizeOptions]="[20, 40, 50]"></mat-paginator>
</div>