.featured-col{
  height: 100px;
}

.box-1{
  overflow: hidden;
  position: absolute;
  width: 57px;
  height: 57px;
  top: 0;
  left: 0;
}

.box-2{
  background-color: var(--azul-logo);
  z-index: 2;
  position: absolute;
  top: 10px;
  left: -21px;
  width: 80px;
  height: 21px;
  line-height: 21px;
  -webkit-transform: translateZ(0) rotate(-45deg);
  transform: translateZ(0) rotate(-45deg);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  text-align: center;
}

.box-3 {
  font-size: 7px !important;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  height: 21px;
  white-space: nowrap;
  display: inline-block;
  max-width: 45px;
}

.featured {
    /*border-radius: 10px; */
    width: 100px;
    position: relative;
    /*right: 14px;*/
    /*bottom: 73px;*/
    display: block !important;
    transform: rotateZ(-45deg);
    background: var(--azul-logo);
    color: #fff;
    text-align: center;
}

.clearfix {
    border-bottom: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}

.no-padding{
    padding: 0px !important;
}

.no-margin{
    margin: 0px !important;
}

/*************** Publicaciones ***************************/

.publication{
    padding: 1%;
    margin: 8px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
/*    background-color: #DCDCDC;
    margin: auto;
*/}

.publication-img{
    max-width: 100%;
    width: 100%;
    height: 100px;
}

.details-pb-row{
    padding-left: .5rem!important;
}

.pub-title{
    color: #fff;
    margin: 0px 0px 0px 0px;
    padding: 2px;
    text-align: center;
    font-weight: bolder;
}

.normal-title{
    background-color: var(--gris-logo);
}

.featured-title {
    background-color: var(--azul-logo);
}

.pb-price{
    font-weight: bolder;
    font-weight: bolder;
    text-align: right;
}

.inner-pub-price{
  font-size: 16px;
}

.fa-calendar{
    padding-left: 0px
} 

@media screen and (max-width:1180px){

    .pb-description{
        font-size: 10px;
    }
}

@media screen and (min-width:760px) and (max-width:980px){

    .pub-title-text{
        font-size: 11px;
    }

   /* .pb-price{
        margin-top: 4px;
        text-align: left;
    }*/

    /*.pub-title{
        margin: 0px 0px 10px 0px;
    }*/

    /*.inner-pub-price:before{
        font-family: Roboto;
        font-size: 10px;
        content: 'PRECIO: ';
    }*/

    .inner-pub-price{
      font-size: 14px;
    }
}


@media screen and (max-width:540px){

    .pub-title{
       font-size: 10px;
   }

 /*  .pb-price{
       margin-top: 4px;
       text-align: left;
   }*/

  /* .pub-title{
       margin: 0px 0px 10px 0px;
   }*/

   /*.inner-pub-price:before{
       font-family: Roboto;
       font-size: 10px;
       content: 'PRECIO: ';
   }*/

   .inner-pub-price{
     font-size: 14px;
   }

}


