<section>
  <form [formGroup]="FormInsurance" (ngSubmit)="SendDataInsurance()" novalidate class="text-center" >
    <h3>AsesÓrate por nuestros profesionales</h3>
    <br>
    <div class="row justify-content-md-center">
      <div class="col-sm-4">
        <h5>Datos Personales</h5> 
        <div class="form-group has-feedback">
          <input type="text" class="form-control input-search"  placeholder="Nombre" formControlName="name"> 
          <div *ngIf="FormInsurance.get('name').errors && FormInsurance.get('name').dirty" class="error-form">
            <label *ngIf="FormInsurance.get('name').hasError('required')">Nombre Requerido!</label>
          </div>
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control input-search"  placeholder="Numero de Rut" formControlName="rut"> 
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control input-search"  placeholder="Email" formControlName="email"> 
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control input-search" placeholder="Teléfono" formControlName="phone" > 
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control input-search"  placeholder="Su direccion" formControlName="direccion"> 
        </div>
      </div>
      <div class="col-sm-4" >
        <h5>Datos del Auto</h5>
        <div class="form-group has-feedback">
          <input type="text" class="form-control input-search"  placeholder="Marca" formControlName="brand"> 
          <div *ngIf="FormInsurance.get('brand').errors && FormInsurance.get('brand').dirty" class="error-form">
            <label *ngIf="FormInsurance.get('brand').hasError('required')">Marca Requerida!</label>
          </div>
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control input-search"  placeholder="Modelo" formControlName="model"> 
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control input-search"  placeholder="Año" formControlName="year"> 
        </div>
        <div class="form-group has-feedback">
          <textarea type="text" class="form-control input-search" placeholder="Observaciones" formControlName="details" > </textarea>
        </div>
      </div>
    </div>
      <div class="row justify-content-sm-center">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary input-search form-control " [disabled]="FormInsurance.invalid ">Enviar</button>
        </div>
      </div>
    </form>
</section>